<% if flash[:alert].present? %>
	<div class="flash_alert"><%= flash[:alert] %></div>
<% elsif flash[:notice].present? %>
	<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>

<h1>Notifications</h1>
<br />

<table width="100%;">
	<thead>
		<th style="text-align: left;">Message</th>
		<th style="text-align: left;"><%= raw "Home&nbsp;Page?" %></th>
		<th style="text-align: left;"><%= raw "List&nbsp;Page?" %></th>
		<th style="text-align: left;">Start Time</th>
		<th style="text-align: left;">End Time</th>
		<th style="text-align: left;"></th>
	</thead>
	<tbody>
		<% for notification in @notifications %>
			<tr class="hover">
				<td style="padding-right: 20px;"><%= notification.message %></td>
				<td width='100px'><%= notification.home_page %></td>
				<td width='100px'><%= notification.schools_page %></td>
				<td width='200px'><%= notification.start_time %></td>
				<td width='200px'><%= notification.end_time %></td>
				<td width="60px" align="right"><%= link_to 'Edit', edit_admin_notification_path(notification), class: 'edit_button' %></td>
				<td width="60px" align="right"><%= button_to 'Delete', admin_notification_path(notification), method: :delete, class: 'delete_button', confirm: "Are you sure you want to permanently delete this notification?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br />
<p><%= link_to 'Add a New Notification', new_admin_notification_path, class: 'add_button', style: 'color: white; font-weight: bold;' %></p>