= render partial: "header"

.wrap
  .result
    #choice-layout
      %h2{ style: "margin-bottom: 1em;" }
        Enter Confirmation Code

      .light
        - if flash[:alert].present?
          %h4.alert
            = flash[:alert]
        - else
          %p
            We sent an email to #{params[:contact_method]} (it may take a few minutes for the email to be delivered).
          %p
            Please enter the confirmation code into the form below and then click "Continue" at the bottom of the page.

        = form_tag(authenticate_choice_schools_path(token: params[:token]), method: "post") do

          = text_field_tag :passcode, nil, placeholder: "Confirmation Code", class: "large-input"

          %div{ style: "margin-top: 2em;" }
            %div{ style: "display: inline-block;" }
              = link_to "Back", verify_choice_schools_path(token: params[:token]), id: "back-button"
            %div{ style: "display: inline-block;" }
              = submit_tag "Continue", id: "continue-button"

        %div{ style: "margin-top: 1em;" }
          Didn't reveive a confirmation code?
          = link_to "try again", verify_choice_schools_path(token: params[:token])
