= render partial: "header"

.wrap
  = render partial: "student_tabs"

.wrap
  #choice-layout
    .result.clearfix
      %h2{ style: "margin-bottom: 1em;" }
        Rank Your Schools

      %div{id: 'home_schools_list', class: "schools_list #{(params[:list_type] == 'zone' || params[:list_type] == 'ell' || params[:list_type] == 'sped') ? 'hidden' : ''}"}
        .sort_schools.column_center.column.light{ style: "margin-bottom: 3em;" }
          - if flash[:alert].present?
            %h4.alert
              = flash[:alert]
          - elsif Date.today > Date.parse("15-04-2016")
            As of April 15th, Round One of the school choice process has closed. We are no longer accepting choices on this system. If you would like to submit choices for the 2016-2017 school year, please visit a Welcome Center. Please note, any choices you submit after February 10th will be entered into round 2 of the lottery system and you will be notified of your child's school assignment in mid-May.
          - else
            %p
              Please use the form below to enter your schools in the order in which you would like to submit. You must rank at least three schools. We recommend you make at least five school choices. Indicate your choices entering 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 etc. with 1 being your first choice school. Use each number only once. When you are ready to submit your list to the school department, please click "Submit" at the bottom of the page.
            %br/

            = form_for(:schools, url: rank_choice_schools_path(token: params[:token]), html: {method: :post}) do |f|
              %table
                - @choice_schools.each do |student_school|
                  - school = student_school.school
                  %tr
                    %td{ style: "font-size: 20px; padding: 0 15px 25px 0;" }
                      = text_field_tag "schools[#{student_school.id}]", student_school.choice_rank, style: "font-size: 20px; text-align: center; padding: 5px; width: 25px;"
                    %td{ style: "padding: 8px 20px 0 0;" }
                      %h3
                        = school.name
                        = image_tag('star_starred.png', id: "star_#{student_school.id}_starred", class: 'star_starred', style: "display: #{student_school.starred? ? 'inline' : 'none'}; cursor: pointer;", data: {student_school_id: student_school.id})
                    %td.no_mobile{ style: "padding: 8px 20px 10px 0;" }
                      = student_school.program_code_description
                    %td.no_mobile{ style: "padding: 8px 20px 10px 0;" }
                      = transportation_eligibility_icon_helper(student_school, "22px")
                    %td.no_mobile{ style: "padding: 8px 20px 10px 0;" }
                      #{spacer_helper(student_school.distance)}&nbsp;mi
                    - unless ["09", "10", "11", "12"].include?(@student.grade_level)
                      %td.no_mobile{ style: "padding: 8px 20px 10px 0;" }
                        = student_school.tier
                    %td.no_mobile{ style: "padding: 8px 20px 10px 0;" }
                      - if school.api_hours.try(:[], :Description).present?
                        = truncate(student_school.school.api_hours.try(:[], :Description), length: 40)


              %div{ style: "margin: 3em 0 3em 0;" }
                %div{ style: "display: inline-block;" }
                  = link_to "Back", list_choice_schools_path, id: "back-button"
                %div{ style: "display: inline-block;" }
                  = f.submit 'Continue', id: "continue-button"


      .light{ style: "font-style: italic; margin-top: 3em;" }
        If you have questions about using this site, please visit our official
        = link_to "Google Group", "https://groups.google.com/a/bostonpublicschools.org/forum/#!forum/onlinechoiceforum", target: "_blank"
        for support.


:javascript

  $(function() {
    $("#sortable_0").disableSelection();
    $('.compare_list_content').tooltip({
      track: true,
      hide: {
        duration: 0
      }
    });
  });

  $(function() {
    $("#sortable_0").sortable({
      axis: "x",
      scroll: true,
      sort: function( event, ui ) {
        $('.compare_list_content').tooltip('close');
      },
      update: function(){
        $('#sortable_0 li').each(function(){
          $(this).find('.sortable_row_number').html($(this).index() + 1);
        });
        $.ajax({
          url: '/student_schools/sort',
          type: 'post',
          data: $('#sortable_0').sortable('serialize'),
          dataType: 'script'
        });
      }
    });
    $("#sortable").disableSelection();
  });
