= render partial: "header"

.wrap
  = render partial: "student_tabs"

.wrap
  #choice-layout
    .result.clearfix
      %h2{ style: "margin-bottom: 1em;" }
        Rank Your Schools

      %div{id: 'home_schools_list', class: "schools_list #{(params[:list_type] == 'zone' || params[:list_type] == 'ell' || params[:list_type] == 'sped') ? 'hidden' : ''}"}
        .sort_schools.column_center.column.light{ style: "margin-bottom: 3em;" }
          - if flash[:alert].present?
            %p{style: 'color: red; margin-bottom: 2em;'}
              = flash[:alert]
          - else
            %p
              Please use the form below to enter your schools in the order in which you would like to submit. When you are ready to submit your list to the school department, please click "Submit".
            %br/

          = form_for(:schools, url: rank_choice_schools_path(token: params[:token]), html: {method: :post}) do |f|
            %table
              - @choice_schools.each do |student_school|
                - school = student_school.school
                %tr
                  %td{ style: "font-size: 20px; padding: 0 15px 10px 0;" }
                    = text_field_tag "schools[#{student_school.id}]", student_school.choice_rank, style: "font-size: 20px; text-align: center; padding: 5px; width: 25px;"
                  %td{ style: "padding: 8px 20px 0 0;" }
                    %h3
                      = school.name
                      = image_tag('star_starred.png', id: "star_#{student_school.id}_starred", class: 'star_starred', style: "display: #{student_school.starred? ? 'inline' : 'none'}; cursor: pointer;", data: {student_school_id: student_school.id})
                  %td{ style: "padding: 8px 20px 10px 0;" }
                    = student_school.program_code_description
                  %td{ style: "padding: 8px 20px 10px 0;" }
                    = student_school.transportation_eligibility
                  - unless ["09", "10", "11", "12"].include?(@student.grade_level)
                    %td{ style: "padding: 8px 20px 10px 0;" }
                      = student_school.tier
                  %td{ style: "padding: 8px 20px 10px 0;" }
                    - if school.api_hours.try(:[], :Description).present?
                      = truncate(student_school.school.api_hours.try(:[], :Description), length: 40)

            %div{ style: "margin: 3em 0 3em 0;" }
              %div{ style: "display: inline-block;" }
                = link_to "Back", list_choice_schools_path(token: params[:token]), id: "back-button"
              %div{ style: "display: inline-block;" }
                = f.submit 'Continue', id: "continue-button", data: { disable_with: 'Submitting...' }

:javascript

  $(function() {
    $("#sortable_0").disableSelection();
    $('.compare_list_content').tooltip({
      track: true,
      hide: {
        duration: 0
      }
    });
  });

  $(function() {
    $("#sortable_0").sortable({
      axis: "x",
      scroll: true,
      sort: function( event, ui ) {
        $('.compare_list_content').tooltip('close');
      },
      update: function(){
        $('#sortable_0 li').each(function(){
          $(this).find('.sortable_row_number').html($(this).index() + 1);
        });
        $.ajax({
          url: '/student_schools/sort',
          type: 'post',
          data: $('#sortable_0').sortable('serialize'),
          dataType: 'script'
        });
      }
    });
    $("#sortable").disableSelection();
  });
