= render partial: "header"

.wrap
  = render partial: "student_tabs"
.wrap
  .result
    #choice-layout
      %h2{ style: "margin-bottom: 1em;" }
        Summary

      .light
        %p
          Your ranked choices are as follows:

        %ol{ style: "margin: 2em 0 2em 1.3em;" }
          - @choice_schools.each do |school|
            %li
              %h3
                = school.school.name

        %p
          If this list is correct, please click the "submit" button below to submit your official selection to the school department.
        %p
          If you would like to change your list, click the "Back" button to return to the previous screen.

        %div{ style: "margin: 3em 0 3em 0;" }
          %div{ style: "display: inline-block;" }
            = link_to "Back", order_choice_schools_path(token: params[:token]), id: "back-button"
          %div{ style: "display: inline-block;" }
            = button_to "Submit", submit_choice_schools_path(token: params[:token]), id: "continue-button", data: { confirm: "Are you ready to submit your official choice list to the school department?", disable_with: 'Submitting...' }
