<% if flash[:alert].present? %>
	<div class="flash_alert"><%= flash[:alert] %></div>
<% elsif flash[:notice].present? %>
	<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>

<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <br />
  <div><%= f.submit "Send me reset password instructions", class: 'add_button' %></div>
<% end %>
<br />
<%= render "admins/shared/links" %>
