.timeline
	.event.first
		%span.light_blue REGISTRATION TIMELINE
		-#%span{:aria => {hidden: 'true'}, :class => 'start_point icon-DBPS-Dev-Assets-SRG-35'}
		= image_tag('point_blue_onGray.png', class: 'start_point point')


	.event.dark_blue
		%span.desktop
			Discover schools

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	.event.dark_blue
		%span.desktop
			Compare options

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	.event
		%span.desktop
			%span.light_blue Dec 3
			%br/
			%span
				School Previews and
				%br/
				School Showcases start

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	.event.dark_blue
		%span.desktop
			Create your list

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	.event
		%span.desktop
			%span.light_blue Dec 14
			%br/
			%span
				Pre-register

		%span.tablette
			= image_tag('blue_point_white.png', class: 'point')

	.event.registration.green_bar
		%span.desktop
			= image_tag('point_green_white_open.png', class: 'point')
			%span
				Registration begins
				%br/
				for K, 6 & 9

			%span.tablette
				= image_tag('blue_point_arrow.png', class: 'point_arrow')

	.event.last_names.ai.green_bar
		%span.light_blue
			= 'Jan 4-8'
		%br/
		Last names A&ndash;I

	.seperator

	.event.last_names.jq.green_bar
		%span.light_blue
			= 'Jan 11-15'
		%br/
		Last names J&ndash;Q

	.seperator

	.event.last_names.rz.green_bar
		%span.light_blue
			= 'Jan 18-22'
		%br/
		Last names R&ndash;Z

	.seperator

	.event.last_names.all.green_bar
		%span.light_blue
			= 'Jan 25-29'
		%br/
		All last names

	.event.blank

	.event.dark_blue_bar
		%span.desktop
			= image_tag('point_green_onGray.png', class: 'point')
			%span.light_blue
				= 'Feb 3'
			%br/
		%span
			All other grades' registration

	.event.dark_blue_bar
		%span.desktop
			%span.light_blue
				= 'Mar - Jul'
			%br/
		%span
			Assignments mailed

	.event.last.light_gray_bar
		%span.desktop
			%span.light_blue Sept 8
			= image_tag('point_blue_onGray.png', class: 'point')
			%br/
			%span
				First day of school!
