.menu_school_lists
  .name_list

    %div{id: 'home_schools_tab', class: "school_list_tab #{(params[:list_type] == 'zone' || params[:list_type] == 'ell' || params[:list_type] == 'sped' ) ? '' : 'active' }"}
      = link_to schools_path(list_type: 'home') do
        %span.name
          Home-based
          %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    -#- if @zone_schools.present?
    -#  %div{id: 'zone_schools_tab', class: "school_list_tab #{params[:list_type] == 'zone' ? 'active' : '' }"}
    -#    = link_to schools_path(list_type: 'zone') do
    -#      %span.name
    -#        Zone-based
    -#        %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    - if current_student.ell_language.present?
      %div{id: 'ell_schools_tab', class: "school_list_tab #{params[:list_type] == 'ell' ? 'active' : '' }"}
        = link_to schools_path(list_type: 'ell') do
          %span.name
            ELL
            %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}

    - if current_student.sped_needs.present?
      %div{id: 'sped_schools_tab', class: "school_list_tab #{params[:list_type] == 'sped' ? 'active' : '' }"}
        = link_to schools_path(list_type: 'sped') do
          %span.name
            SPED
            %span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}


    :javascript
      $('#home_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#home_schools_tab').addClass("active");
        $('#preferences').show();
        $('#your_rank_row').show();
        $('.schools_list').hide();
        $('#home_schools_list').show();
      });

      $('#ell_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#ell_schools_tab').addClass("active");
        $('#preferences').hide();
        $('#your_rank_row').hide();
        $('.schools_list').hide();
        $('#ell_schools_list').show();
      });
      $('#sped_schools_tab').click(function() {
        event.preventDefault();
        $('.school_list_tab').removeClass("active");
        $('#sped_schools_tab').addClass("active");
        $('#preferences').hide();
        $('#your_rank_row').hide();
        $('.schools_list').hide();
        $('#sped_schools_list').show();
      });
