<div class="page_instructions">
  <div class="title_bloc">
    <h1>Sign In</h1>
  </div>
  <p class="yellow-buttons">To log in, please enter your email address and password below. If you don't have an account, please <%= link_to 'sign up', new_user_registration_path %> for a new one.</p>
</div>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

  <div class='btn input_box'>
  	<%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %>
  </div>

  <div class='btn input_box'>
  	<%= f.password_field :password, :placeholder => 'Password' %>
  </div>

  <div class="form_button">
  	<%= image_submit_tag('/assets/buttons/login.jpg') %>
 	</div>

<% end %>

<p><%= link_to 'Forgot password?', new_user_password_path %></p>


<div class="page_instructions">

	<p>You may also log in using your Facebook or Twitter account.</p>

	<div><%= link_to image_tag('/assets/buttons/facebook.png'), user_omniauth_authorize_path(:facebook) %></div>
	<div><%= link_to image_tag('/assets/buttons/twitter.png'), user_omniauth_authorize_path(:twitter) %></div>
</div>

