<div class="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog individualized education plan -->
<div class='content'>
	<%= form_tag set_special_needs_student_path(@student), method: :put, remote: true, 'data-type' => 'script' do %>
		<h3>Does your child have specialized language or educational needs?</h3>

		<p><%= check_box_tag 'no_special_needs', '1' %> Not applicable</p>
		
		<p><%= check_box_tag '[student]ell_needs', '1', @student.ell_needs %> My child may need specialized language support</p>

		<p><%= check_box_tag '[student]iep_needs', '1', @student.iep_needs %> My child has an Individualized Education Plan (IEP) for special needs</p>

		<div class='btn'><%= submit_tag 'Next', disable_with: 'Working...', id: 'special_needs_next_button', class: 'orange_submit' %></div>
	<% end %>
</div>
<script>
	$('#special_needs_next_button').click(function() {
		$('#special_needs_next_button').val('Working...');
	});

	$(".close_icon").click(function() {
		$(".dialog_box").fadeOut("fast").removeClass("active");
	});
	$(".dialog_box").click(function(e){
  	e.stopPropagation();
	});
</script>