.content_right
	%span.event.first{style: 'margin-bottom:37px;'}
		REGISTRATION TIMELINE
		%span{aria: {hidden: 'true'}, class: 'start_point.icon-DBPS-Dev-Assets-SRG-35'}

	%span.event.Y
		%span.desktop
			Discover schools

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	%span.event.Y
		%span.desktop
			Compare options

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	%span.event
		%span.desktop
			Nov 3
			%br/
			%span{style: 'font-size: 12px; line-height: 15px;', class: 'W'}
				School Previews and
				%br/
				School Showcases start

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	%span.event.y
		%span.desktop
			Create your list

		%span.tablette
			= image_tag('yellow_point.png', class: 'point')

	%span.event.last
		%span.desktop
			Dec 15
			%br/
			%span.W
				Pre-register

		%span.tablette
			= image_tag('blue_point_white.png', class: 'point')
