.timeline
	.event.W.registration.green_bar
		%span.desktop
			= image_tag('point_green_white_open.png', class: 'point')
			%span
				Registration begins
				%br/
				for K, 6 & 9

			-#%span.tablette
				= image_tag('blue_point_arrow.png', class: 'point_arrow')

	.event.last_names.ai.green_bar
		%span.light_blue
			= 'Jan 4-8'
		%br/
		%span.W
			Last names A&ndash;I

	.seperator

	.event.last_names.jq.green_bar
		%span.light_blue
			= 'Jan 11-15'
		%br/
		%span.W
			Last names J&ndash;Q

	.seperator

	.event.last_names.rz.green_bar
		%span.light_blue
			= 'Jan 18-22'
		%br/
		%span.W
			Last names R&ndash;Z

	.seperator

	.event.last_names.all.green_bar
		%span.light_blue
			= 'Jan 25-29'
		%br/
		%span.W
			All last names

	.event.blank.light_blue_bar

	.event.dark_blue_bar
		%span.desktop
			= image_tag('point_green_onBlue.png', class: 'point')
			%span.light_blue
				= 'Feb 3'
			%br/
		%span.W
			All other grades' registration

	.event.dark_blue_bar
		%span.desktop
			%span.light_blue
				= 'Mar - Jul'
			%br/
		%span.W
			Assignments mailed

	.event.last.blue_bar
		%span.desktop
			%span.light_blue Sept 8
			= image_tag('point_white_onBlue.png', class: 'point')
			%br/
			%span.W
				First day of school!
