
<!-- partials are injected into this dialog box - don't delete -->
<div id='dialog_box' class='dialog_box dialog_box_dicover' style='display:none;'>
</div>


<div class="wrap ">
	<div class="content_wrap">
		<!--languages selection and his list-->
		<!-- <ul class='languages'>
			<li>
				<div class='current_language'><span data-icon="&#xe003;" aria-hidden="true"></span>English</div>
				<div class='clr'></div>
				<ul >
					<li><a href='#' class='language'>Español</a></li>
					<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
					<li><a href='#' class='language'>中文</a></li>
					<li><a href='#' class='language'>Português</a></li>
					<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
					<li><a href='#' class='language'>Tiếng Việt</a></li>
					<li><a href='#' class='language'>Français</a></li>
					<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span>Other</a></li>
				</ul>
			</li>
		</ul> -->
		<!--END list-->
	</div>
</div>
<div class="wrap ">
	<div class="content_wrap search">
		<%= render partial: 'schools/account_tab' %>

		<div class="search_header">
			<div class="title_bloc">
				<h1>Welcome to Boston Public Schools Registration</h1>
				<img class="logo_beta" src="/assets/logo_beta.png" alt="beta"/>
			</div>
			<p>This website provides resources for finding, exploring and comparing a student's eligible schools. </p>
							<p class="small_text tablet">Looking for the 2013-2014 school year?</p>
			
					 </div>
					<div class="search_section_content "> 
					 
						<!-- ADD CLASS "RIGHT" TO MOVE THE TODAY INDICATOR TO RIGHT OF THE TIME LINE, OR "LEFT" TO MOVE TO THE LEFT  FOR LARGEUR OF TABLET SIZE -->
						<!-- AND change the top % to ajust the today up or down -->
						<div class="today right" style="top:<%= timeline_percent(Date.today) %>;">
							<span aria-hidden="true" class="right icon-DBPS-Dev-Assets-SRG-30"></span>&nbsp; Today &nbsp;<span aria-hidden="true" class="left icon-DBPS-Dev-Assets-SRG-32"></span>
							<span class="yello_line"></span>
						</div> 
						<!-- END today indicator-->
						
						<!-- Discover section -->
			<section class="search_section first">
				<p class="small_text no_tablet">Looking for the 2013-2014 school year?</p>	
				<div class="content_left">
					
					<div class="logo discover" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
					</div>
					<div class="text">
						<% if @addresses.present? %>
							<%= form_tag verify_address_student_path(@student), :method => :put, :remote => false do %>
								<h3>Please verify your student's home address:</h3>
								<br />

								<%= hidden_field_tag '[student]street_number', @addresses.first.try(:[], :StreetNum) %>
								<%= hidden_field_tag '[student]street_name', @addresses.first.try(:[], :Street).try(:titleize) %>
								<%= hidden_field_tag '[student]neighborhood', @addresses.first.try(:[], :SectionOfCity) %>
								<%= hidden_field_tag '[student]zipcode', @addresses.first.try(:[], :ZipCode) %>
								<%= hidden_field_tag '[student]x_coordinate', @addresses.first.try(:[], :X) %>
								<%= hidden_field_tag '[student]y_coordinate', @addresses.first.try(:[], :Y) %>
								<%= hidden_field_tag '[student]latitude', @addresses.first.try(:[], :Lat) %>
								<%= hidden_field_tag '[student]longitude', @addresses.first.try(:[], :Lng) %>

								<div id="address_matches" class='selection'>
									<% @addresses.each_with_index do |address, index| %>
										<%= render partial: 'schools/dialog_boxes/address', locals: {address: address, index: index} %>
									<% end %>
								</div>
								<br/>
								<div class='btn'><%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %></div>
							<% end %>
						<% else %>
							<p class="red">We couldn't find an address that matched your entry. Please try again.</p>

								<%= form_tag student_path(@student), method: :put, remote: false do %>
								<!-- Address and zip info -->
									<div class="form_line">

										<% if defined?(@student) && @student.try(:street_number).present? %>
											<input id="street_number" class="bloc_3" name="[student]street_number" type="text" value="<%= @student.street_number %>" />
										<% else %>
											<input id="street_number" class="bloc_3" name="[student]street_number" type="text" placeholder="Street Number" />
										<% end %>

										<div class="separation_bloc">
											<div class="separation"></div>
										</div>

										<% if defined?(@student) && @student.try(:street_name).present? %>
											<input id="street_name" class="bloc_4" name="[student]street_name" type="text" value="<%= @student.street_name %>" />
										<% else %>
											<input id="street_name" class="bloc_4" name="[student]street_name" type="text" placeholder="Street Name" />
										<% end %>

										<div class="separation_bloc">
											<div class="separation"></div>
										</div>

										<% if defined?(@student) && @student.try(:zipcode).present? %>
											<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" value="<%= @student.zipcode %>" />
										<% else %>
											<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" placeholder="ZIP" />
										<% end %>
												
											<div class="clr"></div>
										</div>
										<!--END  Address and zip info -->
										<div class="form_line">

											<% if defined?(@student) && @student.try(:first_name).present? %>
												<input id="first_name" class="bloc_3" name="[student]first_name" type="text" value="<%= @student.first_name %>" />
											<% else %>
												<input id="first_name" class="bloc_3" name="[student]first_name" type="text" placeholder="Student's First Name" />
											<% end %>


											<div class="separation_bloc">
												<div class="separation"></div>
											</div>

											<% if defined?(@student) && @student.try(:last_name).present? %>
												<input id="last_name" class="bloc_4" name="[student]last_name" type="text" value="<%= @student.last_name %>" />
											<% else %>
												<input id="last_name" class="bloc_4" name="[student]last_name" type="text" placeholder="Last Name" />
											<% end %>

											<div class="separation_bloc">
												<div class="separation"></div>
											</div>
											<div class="bloc_2 select_grade" >
												<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>

												<% if defined?(@student) && @student.try(:grade_level).present? %>
													<input id="grade_level_placeholder" name="[student]grade_level" type="text" value="<%= @student.grade_level %>" />
												<% else %>
													<input id="grade_level_placeholder" name="[student]grade_level" type="text" placeholder="Grade" />
												<% end %>

												<div class='option_grade'>
													<div class='btn_grade'>K0</div>
													<div class='btn_grade'>K1</div>
													<div class='btn_grade'>K2</div>
													<div class="clr"></div>
													<div class='btn_grade'>1</div>
													<div class='btn_grade'>2</div>
													<div class='btn_grade'>3</div>
													<div class='btn_grade'>4</div>
													<div class='btn_grade'>5</div>
													<div class="clr"></div>
													<div class='btn_grade'>6</div>
													<div class='btn_grade'>7</div>
													<div class='btn_grade'>8</div>
													<div class="clr"></div>
													<div class='btn_grade'>9</div>
													<div class='btn_grade'>10</div>
													<div class='btn_grade'>11</div>
													<div class='btn_grade'>12</div>
													<div class="clr"></div>
												</div>
											</div>      
											<div class="clr"></div>
										</div>
										<script>
											$('.btn_grade').click(function() {
												$('#grade_level_placeholder').val(this.innerText);
												$('#_studentgrade_level').val(this.innerText);
												$('.option_grade').hide();
											});
											$('.select_grade').mouseover(function() {
												$('.option_grade').show();											
											})
										</script>

									<!-- NEXT and Sibling school buttons -->
									<div class="form_line">
										<div class="bloc_6 portrait">
											<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
											<input type="text" placeholder="Set Sibling's school" />
											<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
										</div>
										<div id="search_form_submit" class="bloc_5">
											<%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %>
										</div>
										<div id="sibling_school" class="bloc_6">
											<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
											<input id="sibling_school_autocomplete" name="[student]sibling_school_name" type="text" placeholder="Set Sibling's school" />
											<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
										</div>
										<div class="clr"></div>
									</div>
									<script>
										$(function() {
											var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
											$( "#sibling_school_autocomplete" ).autocomplete({
												source: schoolNames,
												minLength: 2,
												messages: {
													noResults: '',
													results: function() {}
												}
											});
										});
									</script>
							<% end %>
						<% end %>
					</div>
									 
				</div>
				<%= render partial: 'schools/vertical_timeline' %>
				
			</section>
			<!-- END Discover section -->
			
			<!-- REgister section -->
			<section class=" search_section second">
								
				<div class="content_left">
					<div class="logo register" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-02"></span>
					</div>
					<div class="text">
						<p>
							Once a student's list of schools has been chosen, registration begins by submitting the list and visiting a Welcome Center.
						</p>
						<a class="K" href="#" title="Learn more"  style="margin-bottom:0;">Learn more</a>
					</div>
				</div>
				<!-- timeline info of Register -->
				<div class="content_right">
					<span class="event" style="margin-bottom:39px;">
						<span class="desktop">
							 Jan 6<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--><img class="point" src="/assets/red_point.png" /><br/>
							 <span class="W"> Registration begins</span><br/>
								for K, 6 9
								<br />
								(All other grades: Feb 5th)
							</span>
							<span class="tablette">
								<img class="point_arrow" src="/assets/blue_point_arrow.png" />
							</span>
							
						</span>
						<span class="event Y">
							<span class="desktop">
								Mar - Jul<br/>
							<span class="W">Assignments mailed</span>
						</span>
					</span>
				</div>
				<!--END timeline info of Register -->
			</section>
			<!-- END REgister section -->
			
			<!-- Succeed section -->
			<section class="search_section third">				
				<div class="content_left">
					
					<div class="logo succeed" >
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-03"></span>
					</div>
					<div class="text">
						<p>
							Hear from current Boston student who've succeeded in schools across the city. Learn about services and programs offered by Boston Public Schools you never knew existed!
						</p>
						<a class="K" href="#" title="Explore" style="margin-bottom:0;">Explore</a>
					</div>
										
				</div>
				<!--END timeline info of Register -->
				
				<!-- timeline info of Succeed -->
				<div class="content_right">
					
					<span class="event">
						<span class="desktop">
							Sept 4<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--> <img class="point" src="/assets/blue_point.png" /><br/>
							<span class="W" style="font-size:12px;line-height:15px;">
								First day of school!
							</span>
						</span>
					</span>
					
				</div>
				<!--END timeline info of Succeed -->
				
				<!-- last point with star -->
				<img class="final_point" src="/assets/star_point.png" />
								
			</section>
			<!-- END Succeed section -->
		</div>
	</div>
</div>