.search
	.search_header
		.title_bloc
			%h1
				Welcome to Boston Public Schools Registration
			= image_tag('logo_beta.png', class: 'logo_beta', alt: 'beta')

		%p.yellow-buttons
			= auto_link(TextSnippet.find('home-intro').text)

	.search_section_content
		%section.search_section.first
			.content_left
				.logo.discover
					%span{aria: {hidden: 'true'}, class: 'icon-DBPS-Dev-Assets-SRG-01'}
				.text
					%p.yellow-buttons
						= auto_link(TextSnippet.find('home-discover-intro').text)

					- if current_user_students.present?
						%p.K
							Please select from your previous searches:
						%ul.horizontal_list
							- for student in current_user_students
								%li
									= link_to student.tab_name, schools_path(student: student.id), class: 'orange_button previous_student_search_button'
							%li
								= button_to 'Clear Searches', {controller: 'students', action: 'delete_all', student_ids: current_user_students.collect {|x| x.id}}, method: :delete, id: 'delete_students_button', class: 'antialiased_button', confirm: 'Are you sure you want to clear all of your previous searches?'

						.clr
						- if flash[:alert].present?
							%p{style: 'color: red;'}
								= flash[:alert]
						- else
							%p.K
								%br/
								Or search for a new student using the form below (grade level is for the entering grade; name is optional):

					- else
						- if flash[:alert].present?
							%p{style: 'color: red;'}
								= flash[:alert]
						- else
							%p.K
								To get started, enter your home address and your student's name and grade level in the form below (name is optional):

					%div
						= form_tag students_path, method: :post, remote: true do
							= render partial: 'students/search_form', locals: {sibling_search: true}

			= render partial: 'students/timeline_vertical'

		%section.search_section.second
			.content_left
				.logo.register
					%span{aria: {hidden: 'true'}, class: 'icon-DBPS-Dev-Assets-SRG-02'}

				.text
					%p.yellow-buttons
						= auto_link(TextSnippet.find('home-register-intro').text)
					= link_to 'Learn more', 'http://www.bostonpublicschools.org/register', title: 'Learn more', class: 'K', style: 'margin-bottom: 0;', target: '_blank'

			.content_right
				%span.event{style: 'margin-bottom: 39px;'}
					%span.desktop
						Jan 5
						= image_tag('red_point.png', class: 'point')
						%br/
						%span.W
							Registration begins
							%br/
							for K, 6 9
							%br/
							(All other grades: Feb 5th)

						%span.tablette
							= image_tag('blue_point_arrow.png', class: 'point_arrow')

					%span.event.Y
						%span.desktop
							Mar - Jul
							%br/
						%span.W
							Assignments mailed

		%section.search_section.third
			.content_left
				.logo.succeed
					%span{aria: {hidden: 'true'}, class: 'icon-DBPS-Dev-Assets-SRG-03'}
				.text
					%p.yellow-buttons
					= auto_link(TextSnippet.find('home-succeed-intro').text)
					= link_to 'Explore', 'http://www.bostonpublicschools.org/transitionsupport', title: 'Explore', style: 'margin-bottom:0;', target: '_blank'

			.content_right
				%span.event
					%span.desktop
						Sept 4
						= image_tag('blue_point.png', class: 'point')
						%br/
						%span.W{style: 'font-size: 12px; line-height: 15px;'}
							First day of school!

			= image_tag('star_point.png', class: 'final_point')
