%div{id: "addresses_row_#{index}", class: 'row address-row'}

	- if index == 0
		= radio_button_tag :address, address.to_json, true
		#{address[:Streetno]} #{address[:Street].try(:titleize)}, #{address[:City]} #{address[:Zip]}

	- else
		= radio_button_tag :address, address.to_json
		#{address[:Streetno]} #{address[:Street].try(:titleize)}, #{address[:City]} #{address[:Zip]}
