%div{id: "addresses_row_#{index}", class: 'row address-row'}

	- if index == 0
		= radio_button_tag :address, address.to_json, true
		#{address[:StreetNum]} #{address[:Street].try(:titleize)}, #{address[:SectionOfCity]} #{address[:ZipCode]}

	- else
		= radio_button_tag :address, address.to_json
		#{address[:StreetNum]} #{address[:Street].try(:titleize)}, #{address[:SectionOfCity]} #{address[:ZipCode]}
