#home_schools_list.schools_list
  .sort_schools.column_center.column
    %ul#ranks.clearfix
      %li.rank 1
      %li.rank 2
      %li.rank 3
      %li.rank 4
      %li.rank 5

    .compare_list_content{title: "Click to drag"}
      %ul#sortable_0.clearfix

        - @home_schools[0...5].each_with_index do |student_school, i|
          - school = student_school.school
          %li{id: "school_column_#{student_school.id}", class: "sortable_school #{i ==0 ? 'first' : ''} #{i == 4 ? 'last' : ''}"}
            .li_frame.draggable
              .school_star.desktop.line
                %span
                  = image_tag('star_starred.png', id: "star_#{student_school.id}_starred", class: 'star_starred', style: "display: #{student_school.starred? ? 'inline' : 'none'}; cursor: pointer;", data: {student_school_id: student_school.id})
                  = image_tag('star_unstarred.png', id: "star_#{student_school.id}_unstarred", class: 'star_unstarred', style: "display: #{student_school.starred? ? 'none' : 'inline'}; cursor: pointer;", data: {student_school_id: student_school.id} )

              = render partial: 'schools/compare/school_details', locals: {student_school: student_school, school: school}


  - if @home_schools[6...-1].present?
    .more_schools.column_right.column
      .more_schools_frame
        %h3
          More Schools:

        %ul{id: 'add_more_schools_list', title: "click to add"}
          - @home_schools[6...-1].each do |student_school|
            - school = student_school.school
            %li{id: "add_more_button_#{student_school.id}", class: "school"}
              %a{href: '#', class: 'addable_school', data: {student_school_id: student_school.id}}
                %span.icon.icon-DBPS-Dev-Assets-SRG-10
                = school.name


    :javascript
      $('.more_schools ul').hover(function(){
        $('#compare_list').toggleClass('more_schools_hovered');
      })
      $('.more_schools ul').tooltip({
        track: true
      });

      $('.addable_school').click(function() {
        event.preventDefault();
        $.ajax({
          url: '/student_schools/' + $(this).data('studentSchoolId') + '/add_another',
          type: 'post',
          dataType: 'script'
        });
      });
