	<div class="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
	<div class="wrap ">
		<div class="search">
			<div class="search_section_content ">
				<section class="search_section">
					<div class="content_left no_right_margin">
						<div class="content">
							<% if defined?(student) && student.present? %>
								<h3>To edit your student's information, please modify the form fields below and click next:</h3>
								<br />
								<%= form_tag student_path(student), :method => :put, :remote => true, 'data-type' => 'script' do %>
									<%= render partial: 'schools/search_form', locals: {student: student, sibling_search: false} %>
								<% end %>
								<%= button_to 'Clear Student', student_path(student), method: :delete, id: 'delete_student_button', class: 'antialiased_button', confirm: 'Are you sure you want to clear this student?' %>
							<% else %>
								<h3>Please enter your student's home address, name and grade level:</h3>
								<br />
								<%= form_tag students_path, :method => :post, :remote => true do %>
									<%= render partial: 'schools/search_form', locals: {sibling_search: false} %>
								<% end %>
							<% end %>
						</div>
					</div>
				</section>
				</div>
		</div>
	</div>
	<script>
		$(".close_icon").click(function() {
			$(".dialog_box").fadeOut("fast").removeClass("active");
		});
		$(".dialog_box").click(function(e){
	  	e.stopPropagation();
		});
	</script>
