<div class="wrap">
	<h1>Schools</h1>
	<br />
	<table width="100%">
		<thead>
			<th style="text-align: left;">ID</th>
			<th style="text-align: left;">Name</th>
			<th style="text-align: left;">Last Updated</th>
			<th></th>
		</thead>
		<tbody>
			<% for school in @schools %>
				<tr class="hover">
					<td width='80px'><%= school.bps_id %></td>
					<td><strong><%= link_to school.name, admin_school_path(school) %></strong></td>
					<td><%= school.updated_at %> EST</td>
					<td width="40px"><%= button_to 'Delete', admin_school_path(school), method: :delete, class: 'delete_button', confirm: "Are you sure you want to permanently delete this school and remove it from all existing student lists?" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="wrap">
	<%= link_to 'Add a New School', new_admin_school_path, class: 'add_button', style: 'color: white; font-weight: bold;' %>
</div>