.footer_list

	.footer_left
		%h2{style: 'margin-bottom: 1.5em;', class: 'dark_gray'}
			Next Steps

		%p
			%span.big.dark_gray Visit Schools
			%br/
			Visiting is the best way to learn if a school is a good fit for your child.

		%p
			Check out
			= link_to 'Showcase IN Our Schools on December 5', 'http://www.bostonpublicschools.org/Page/652', title: 'Showcase', target: "_blank"

		%p
			View
			= link_to 'School Preview Days for Grades K-8', 'http://www.bostonpublicschools.org/cms/lib07/MA01906464/Centricity/Domain/29/SPTK8-v2.pdf', title: 'High School Showcase', target: "_blank"

		%p
			View
			= link_to 'School Preview Days for Grades 9-12', 'http://www.bostonpublicschools.org/cms/lib07/MA01906464/Centricity/Domain/29/SPTHigh1.pdf', title: 'High School Showcase', target: "_blank"

		%p
			Mark your calendar for the
			= link_to 'High School Showcase on December 3', 'http://bostonpublicschools.org/Page/652', title: 'High School Showcase', target: "_blank"



	.footer_center
		.logo.register
			%span{:aria => {hidden: 'true'}, :class => 'icon icon-DBPS-Dev-Assets-SRG-02 dark_gray'}

		%p
			= link_to 'Pre-Registration', 'https://sis.mybps.org/aspen/index.html',	target: "_blank", class: 'blue'
		%p
			= link_to 'Collect the required documents', "http://www.bostonpublicschools.org/requireddocs", title: "Collect the required documents", target: "_blank"
		%p
			= link_to 'Plan a visit to a Welcome Center', "http://www.bostonpublicschools.org/Page/653", title: "Plan a visit to a Welcome Center", target: "_blank"
		%p
			You can learn more about the School Assignment process by visiting
			= link_to 'www.bostonpublic schools.org/assignment', 'http://www.bostonpublicschools.org/assignment', title: 'Learn more about Home-Based Eligibility', target: '_blank'
			or by watching a short video on
			= link_to 'YouTube', 'http://www.youtube.com/watch?v=c13n5e-LJG4&feature=youtu.be', title: "What's the Home-Based School Choice Plan?", target: "_blank"





	.footer_right
		%h2{style: 'margin-bottom: 1.5em;', class: 'dark_gray'}
			My lists
		%p
			= link_to 'Download', schools_path(format: :csv)

		%p
			= link_to 'Print', print_lists_schools_path, title: "Print"

		- if current_user.blank?
			%p
				= link_to 'Save Your Lists', "#", id: "footer_save_button", title: "Save"

	.clr


:javascript
	$(document).ready(function(){

		$('#footer_login_button').click(function() {
			$('#dialog_box').show();
			$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/login')}");
			$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
			return false;
		});
		$('#footer_sign_up_button').click(function() {
			$('#dialog_box').show();
			$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/signup')}");
			$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
			return false;
		});
		$('#footer_save_button').click(function() {
			$('#dialog_box').show();
			$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/signup')}");
			$('.txt_join_list').show();
			$('p.txt_login').hide();
			$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
			return false;
		});

	});
