<div id="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog select address matches -->
<div class='content'>
	<%= form_tag address_verification_student_path(student), :method => :put, :remote => true do %>
		<h3>Please verify your student's home address:</h3>
		<br />

		<%= hidden_field_tag '[student]street_number', addresses.first[:StreetNum] %>
		<%= hidden_field_tag '[student]street_name', addresses.first[:Street].try(:titleize) %>
		<%= hidden_field_tag '[student]zipcode', addresses.first[:ZipCode] %>

		<div id="address_matches" class='selection'>
			<% addresses.each_with_index do |address, index| %>
				<%= render partial: 'schools/dialog_boxes/address', locals: {address: address, index: index} %>
			<% end %>
		</div>
		<br/>
		<div class='btn'><%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %></div>
	<% end %>
</div>
<script>	
	$( document ).ready(function() {
		$("#close_icon").click(function() {
			$(".dialog_box").fadeOut("fast").removeClass("active");
		});
		$(".dialog_box").click(function(e){
	  	e.stopPropagation();
		});
	});
</script>
