<div id="address_verification_row_<%= index %>" class='row'>
	<%= address[:StreetNum] %> <%= address[:Street].try(:titleize) %>, <%= address[:SectionOfCity] %> <%= address[:ZipCode] %>
	<% if index == 0 %>
		<span id="address_check_mark_<%= index %>" class='address_check_mark icon_selected icon-DBPS-Dev-Assets-SRG-42' style="display:visible;"></span>
	<% else %>
		<span id="address_check_mark_<%= index %>" class='address_check_mark icon_selected icon-DBPS-Dev-Assets-SRG-42' style="display:none;"></span>
	<% end %>
</div>
<script>
	$("#address_verification_row_<%= index %>").click(function() {
		$('.address_check_mark').hide();
		$('#address_check_mark_<%= index %>').show();
		$('#_studentstreet_number').val('<%= address[:StreetNum] %>');
		$('#_studentstreet_name').val('<%= address[:Street].try(:titleize) %>');
		$('#_studentneighborhood').val('<%= address[:SectionOfCity] %>');
		$('#_studentzipcode').val('<%= address[:ZipCode] %>');
		$('#_studentx_coordinate').val('<%= address[:X] %>');
		$('#_studenty_coordinate').val('<%= address[:Y] %>');
		$('#_studentlatitude').val('<%= address[:Lat] %>');
		$('#_studentlongitude').val('<%= address[:Lng] %>');
	});
</script>