<!-- dialog individualized education plan -->
<div class='content'>
	<%= form_tag iep_student_path(student), :method => :put, :remote => true do %>
		<h3>Does your child have specialized language or educational needs?</h3>
		
		<% PreferenceCategory.special_needs.each_with_index do |category, i| %>
			<div class='bloc'>
				<p class='first'><%= category.description %>:</p>
				<%= select_tag '[student][preference_ids][]', options_from_collection_for_select(category.preferences, 'id', 'name'), include_blank: true %>
				
				<div class="clr"></div>
			</div>
			<script>
				$('.option_preference_<%= i %>').click(function() {
					$('#category_<%= i %>_preference_ids').val(this.innerText);
				});
			</script>
		<% end %>

		<div class='btn'><%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %></div>
	<% end %>
</div>

<!-- <ul class='languages dialog_box_lang'>
	<li>
		<div class='current_language'><span data-icon="&#xe003;" aria-hidden="true"></span>English</div>
		<div class='clr'></div>
		<ul >
			<li><a href='#' class='language'>Español</a></li>
			<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
			<li><a href='#' class='language'>中文</a></li>
			<li><a href='#' class='language'>Português</a></li>
			<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
			<li><a href='#' class='language'>Tiếng Việt</a></li>
			<li><a href='#' class='language'>Français</a></li>
			<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span>Other</a></li>
		</ul>
	</li>
</ul> -->