<div id="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
<!-- dialog preferences -->
<div class='content'>
	<%= form_tag preferences_student_path(student), :method => :put do %>
		<% if current_student.first_name.present? %>
			<h3>What school features are important to <%= current_student.first_name %>?</h3>
		<% else %>
			<h3>What school features are important your child?</h3>
		<% end %>
		<div class='bloc'>
			<% PreferenceCategory.qualitative.grade_level_categories(current_student.grade_level).rank(:sort_order).each_with_index do |category, i| %>
				<div class="preference">
					<p class='title font_15'><span aria-hidden="true" class="fit_icon <%= category.glyph_class %>"></span><span class="text"><%= category.name %></span></p>
					<% category.grade_level_preferences(current_student.grade_level).rank(:sort_order).each do |preference| %>
						<label class='font_13_14'><input type='checkbox' name='[student][preference_ids][]' value='<%= preference.id %>' /><span class="text"><%= preference.name %></span></label>
					<% end %>
				</div>
			<% end %>
			<div class='clr'></div>
		</div>
		<div class='btn'><%= submit_tag 'Show Eligible Schools', disable_with: 'Working...', class: 'orange_submit' %></div>
	<% end %>
</div>
<script>	
	$( document ).ready(function() {
		$("#close_icon").click(function() {
			$(".dialog_box").fadeOut("fast").removeClass("active");
		});
		$(".dialog_box").click(function(e){
	  	e.stopPropagation();
		});
	});
</script>