.search
  .logo.discover
    %span{:aria => {hidden: 'true'}, :class => 'icon-DBPS-Dev-Assets-SRG-01'}
  .search_header
    .title_bloc
      %h1
        Welcome to Boston Public Schools Registration

  .search_section_content
    %section.search_section.first

      -# CONTENT ---------------------
      .content_left
        .text
          %p.home_intro.yellow-buttons.light_blue.big
            = auto_link(TextSnippet.find('home-intro').text)


        .content
          %h2 Has your child been invited to the Advanced Work Class (AWC) Program?

          = form_tag student_awc_preferences_path, method: :post do

            %p
              = radio_button_tag '[student]awc_invitation', true, current_student.awc_invitation == true
              Yes
            %p
              = radio_button_tag '[student]awc_invitation', false, current_student.awc_invitation == false
              No

            .btn
              = submit_tag 'Next', disable_with: 'Working...', id: 'awc_next_button', class: 'orange_submit'

          .footnote.light
            %p{style: "color: #565656;"}
              Advanced Work Class (AWC) is a full-time program in the Boston Public Schools that provides an accelerated academic curriculum for students in grades 4, 5 and 6.
              By responding “Yes” above, this tool will include AWC schools in your student’s list.
              However, only students that have been formally invited to AWC will have these schools appear on their actual registration form.

      -# TIMELINE ---------------------
      .content_right

        .timeline
          .event.first
            %span.light_blue REGISTRATION TIMELINE
            = image_tag('point_white_onBlue.png', class: 'start_point point')

          .event.Y
            %span.desktop
              Discover schools

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Compare options

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue Dec 3
              %br/
              %span.W
                School Previews and
                %br/
                School Showcases start

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Create your list

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue Dec 14
              %br/
              %span.W
                Pre-register

            -#%span.tablette
              = image_tag('blue_point_white.png', class: 'point')


    -# CONTENT ---------------------
    %section.search_section.second
      = render partial: 'students/footer_links'


      -# TIMELINE ---------------------
      .content_right
        = render partial: 'students/timeline'
