<div id='signup_panel' class='action_box save_box' style="display:none;">
	<div class='actions'>
		<span class='txt_join_list' style='display:none;'>Join to save your lists:</span>
		<span class='txt_login'>Sign Up with:</span>
		
		<div><%= link_to image_tag('/assets/oauth-facebook.png'), user_omniauth_authorize_path(:facebook) %></div>
		<div><%= link_to image_tag('/assets/oauth-twitter.png'), user_omniauth_authorize_path(:twitter) %></div>
		
		<%= form_for(:user, :as => 'user', :url => registration_path(:user), :html => {:id => "sign_up_user"}, :format => :json, :remote => true ) do |f| %>

			<div class='btn input_box'>
				<%= f.email_field :email, placeholder: 'Email address' %>

				<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
				<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
			</div>
			<div class='btn input_box'>
				<%= f.password_field :password, placeholder: 'Password' %>

				<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
				<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
			</div>
			<div class='btn input_box'>
				<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>

				<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
				<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
			</div>
			<div class="signup"><%= image_submit_tag('/assets/oauth-create.png') %></div>													
			<div id="signup_error" style="display:none;color:red;"></div>
			<div class='clr'></div>
		<% end %>
	</div>
	<div class='clr'></div>
</div>

<script>
	$("form#sign_up_user").bind("ajax:success", function(e, data, status, xhr) {
	  if (data.success) {
	    window.location.replace("<%= request.original_url %>");
	  } else {
	    $('#signup_error').html("We had trouble creating your <br />account. Please complete the <br />required fields and try again.").show();;
	  }
	});
</script>