<!-- account button ans his listing-->
<div class="account_box">
	<div class="btn_account">Account<!-- <span class='icon_excla'></span> --></div>
	<!-- Start section menu account -->
	<div class='account_menu_box font_15'>
		<!-- Start menu account -->
		<div class='menu'>
			<div class='box'>
				<% if params[:controller] == 'schools' && params[:action] == 'index' %>
					<span>My lists</span>
					<%= link_to 'Print', print_schools_path %>
					<%= link_to 'Download', schools_path(format: :csv) %>
					<a href='#'>Share via email</a>
					<a id='save_btn' href='#'>Save <div class='icon' data-icon="&#xe001;" aria-hidden="true"></div></a>
				<% elsif @students.present? %>
					<span>My lists</span>
					<% for student in @students %>
						<%= link_to student.tab_name, schools_path(student: student.tab_name) %>
					<% end %>
				<% end %>
			</div>
			<div class='mobile_only box list_child'>
				<span>&nbsp;</span>
				<a class='child' href='#'>Elizabeth</a>
				<a class='child' href='#'>Tommy</a>
				<a href='#'>+ Add a child</a>
			</div>
			<div class='clr box last'>
				<span>Account</span>

				<% if current_user.present? %>
					<%= link_to 'Settings', edit_user_registration_path %>
					<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
				<% else %>
					<a id='login_btn' href='#'>Login <div class='icon' data-icon="&#xe001;" aria-hidden="true"></div></a>
					<a class='signup_btn' href='#'>Sign Up <div class='icon' data-icon="&#xe001;" aria-hidden="true"></div></a>
				<% end %>
			</div>
			<div class='clr'></div>
		</div>
		<!-- End menu account -->

		
		<!-- Login panel -->
		<%= render partial: 'schools/account_login_panel' %>
		<!-- End login panel -->

		<!-- Sinup panel -->
		<%= render partial: 'schools/account_signup_panel' %>
		<!-- End signup panel -->
		
		<!-- Start register box -->
		<div class='action_box register_box' style='display:none;'>
			<div class='actions'>
				<span class='text'>Registration Checklist:</span><br/>
				<label><input type='checkbox' name='register_check_bpsexpress' value='BPSExpress'/>Submit your lists to <a href='#'>BPSExpress</a></label><br/>
				<span class='warning'>Available soon!</span><br/>
				<label><input type='checkbox' name='register_check_required_documents' value='required documents'/>Collect the <a href='#'>required documents</a></label><br/>
				<label><input  type='checkbox' name='register_check_welcome_center' value='Welcome Center'/>Visit to a <a href='#'>Welcome Center</a></label>		
			</div>
			<div class='clr'></div>
		</div>
		<!-- End register box -->
		
		<div class='clr'></div>
	</div>
	<!-- Start section menu account -->
</div>
<!--END account button ans his listing-->

<!-- script account button-->
<script>
	$(document).ready(function(){
		if(!Modernizr.input.placeholder) {
			$("input[placeholder]").each(function() {
				var placeholder = $(this).attr("placeholder");

				$(this).val(placeholder).focus(function() {
					if($(this).val() == placeholder) {
						$(this).val("")
					}
				}).blur(function() {
					if($(this).val() == "") {
						$(this).val(placeholder)
					}
				});
			});
		} // Modernizr placeholder
	});

	$(document).ready(function(){
		/*var is_open_menu_account= false;
		$(".btn_account").click(function() {
			 if (is_open_menu_account) {
				// Close box
				is_open_menu_account= false;
			
				$(".account_menu_box").css("display", "none");
				$(".register_box").css("display", "none");
		
			 } else {
				// Open box
				is_open_menu_account= true;
				$(".account_menu_box").css("display", "block");
				$(".register_box").css("display", "block");
				$(".save_box").css("display", "none");
				//$(".account_menu_box").width("410");
			 }
			 
			 return false;
		});*/

	});
	$(document).ready(function(){
		var login_panel_open = false;
		var signup_panel_open = false;

		$('#login_btn').click(function() {
			if (login_panel_open) {
				login_panel_open = false;
				signup_panel_open = false;
				$('#signup_panel').hide();
				$("#login_panel").hide();
				$(".account_menu_box").width("auto");
			} else {
				login_panel_open = true;
				signup_panel_open = false;
				//console.log("open box");
				$('#signup_panel').css("display", "none");
				$('#login_panel').css("display", "block");	
			}
			return false;
		});
		$('.signup_btn').click(function() {
			if (signup_panel_open) {
				// Close box
				login_panel_open = false;
				signup_panel_open = false;
				$('#signup_panel').hide();
				$("#login_panel").hide();
				$(".account_menu_box").width("auto");
			} else {
				login_panel_open = false;
				signup_panel_open = true;
				//console.log("open box");
				$('#login_panel').css("display", "none");
				$('#signup_panel').css("display", "block");	
			}
			return false;
		});
		$("#save_btn").click(function() {
			if (login_panel_open) {
				// Close box
				login_panel_open = false;
				signup_panel_open = false;
				$('#signup_panel').hide();
				$("#login_panel").hide();
				$(".account_menu_box").width("auto");
			} else {
				// Open box
				signup_panel_open = false;
				login_panel_open = true;
				//console.log("open box");
				$("#signup_panel").css("display", "none");
				$("#login_panel").css("display", "block");
				//$(".account_menu_box").width("410");
			}
			 return false;
		});
	});

</script>
<!-- END script account button-->