<div id='signup_panel' class='action_box save_box' style="display:none;">
	<div class="close_icon"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-07"></span></div>
	<div class='actions'>
		<span class='txt_join_list' style='display:none;'>Join to save your lists:</span>
		<span class='txt_login'>Sign Up with:</span>
		
		<div><%= link_to image_tag('/assets/oauth-facebook.png'), user_omniauth_authorize_path(:facebook) %></div>
		<div><%= link_to image_tag('/assets/oauth-twitter.png'), user_omniauth_authorize_path(:twitter) %></div>
		
		<%= form_for(:user, :as => 'user', :url => session_path(:user)) do |f| %>
			<form method='' action='' name=''>
				<div class='btn input_box'>
					<%= f.email_field :email, placeholder: 'Email address' %>

					<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
					<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
				</div>
				<div class='btn input_box'>
					<%= f.password_field :password, placeholder: 'Password' %>

					<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
					<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
				</div>
				<div class='btn input_box'>
					<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>

					<span class='icon_success' data-icon="&#xe002;" aria-hidden="true" style='display:none;'></span>
					<span class='icon_failed' data-icon="&#xe025;" aria-hidden="true" style='display:none;'></span>
				</div>
				<div class="signup"><%= image_submit_tag('/assets/oauth-create.png') %></div>													
				<div class='clr'></div>
			</form>
		<% end %>
	</div>
	<div class='clr'></div>
</div>