<!-- info box at the end of listing -->
	<div class="footer_list">
		<div class="footer_left">

			<p style="color:#000;margin-bottom: 1em;font-size:1.2em;">Notice</p>
			<p>Your customized list is current as of 12/14/2013. Boston School Committee (BSC) will vote on some facilities changes that may add new schools and move others. Please continue to check this site over the next several weeks as we update it to reflect any approved facilities changes by (BSC).</p>

			<p style="color:#000;margin-bottom: 1em;font-size:1.2em;">Next Steps</p>
			<p>You can learn more about the School Assignment process by visiting <a href="http://www.bostonpublicschools.org/assignment" title="Learn more about Home-Based Eligibility" target="_blank">www.bostonpublicschools.org/assignment</a> or by watching a short video on &nbsp;<a href="http://www.youtube.com/watch?v=c13n5e-LJG4&feature=youtu.be" title="What's the Home-Based School Choice Plan?" target="_blank">YouTube</a></p>

			<p style="color:#000;">Visit Schools:</p>
			<p><%= link_to 'Learn about school preview opportunities on the BPS website', 'http://www.bostonpublicschools.org/research',  target: "_blank", class: 'blue' %></p>

			<p style="color:#000;">Pre-Register:</p>
			<p><%= link_to 'Pre-register your student on the BPSExpress website', 'https://apps.mybps.org/ExternalWeb/login.aspx?tabindex=0&tabid=30',  target: "_blank", class: 'blue' %></p>
			
			<p style="color:#000;">Register:</p>
			<p><a href="http://www.bostonpublicschools.org/requireddocs" title="Collect the required documents" target="_blank">Collect the required documents</a></p>
			<p><a href="http://www.bostonpublicschools.org/howtoregister#2.3" title="Plan a visit to a Welcome Center" target="_blank">Plan a visit to a Welcome Center</a></p>
		</div>
		<div class="footer_right">
			<p style="color:#000;margin-bottom: 1.6em;">Need to think it over?</p>
			<p>My lists</p>
			<p><%= link_to 'Download', schools_path(format: :csv) %></p>
			<% if params[:action] == 'zone_schools' %>
				<p><a href="/schools/print_zone_schools" title="Print">Print</a></p>
			<% else %>
				<p><a href="/schools/print_home_schools" title="Print">Print</a></p>
			<% end %>
			<% if current_user.blank? %>
				<p><a href="" title="Save">Save</a></p>
			<% end %>
			<br/>
			<p>Account</p>
			<% if current_user.present? %>
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% else %>
				<p><a href="#" id="footer_sign_up_button" title="Sign Up">Sign Up</a></p>
				<p><a href="#" id="footer_login_button" title="Login">Login</a></p>
			<% end %>
		</div>
		<div class="clr"></div>
	</div>
	<!-- END info box at the end of listing -->
	<script>
		$(document).ready(function(){

			$('#footer_login_button').click(function() {
				$('#dialog_box').show();
				$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/dialog_boxes/login') %>");
				$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
				return false;
			});
			$('#footer_sign_up_button').click(function() {
				$('#dialog_box').show();
				$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/dialog_boxes/signup') %>");
				$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
				return false;
			});
		});
	</script>