<div class="form_line">

	<% if defined?(student) && student.try(:first_name).present? %>
		<input id="first_name" class="bloc_3" name="[student]first_name" type="text" value="<%= student.first_name %>" />
	<% else %>
		<input id="first_name" class="bloc_3" name="[student]first_name" type="text" placeholder="Student's First Name" />
	<% end %>


	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:last_name).present? %>
		<input id="last_name" class="bloc_4" name="[student]last_name" type="text" value="<%= student.last_name %>" />
	<% else %>
		<input id="last_name" class="bloc_4" name="[student]last_name" type="text" placeholder="Student's Last Name" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>
	<div class="bloc_2 select_grade" >
		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>

		<% if defined?(student) && student.try(:grade_level).present? %>
			<input id="grade_level_placeholder" name="[student]grade_level" type="text" value="<%= student.grade_level %>" />
		<% else %>
			<input id="grade_level_placeholder" name="[student]grade_level" type="text" placeholder="Grade" />
		<% end %>

		<div class='option_grade'>
			<div class='btn_grade'>K0</div>
			<div class='btn_grade'>K1</div>
			<div class='btn_grade'>K2</div>
			<div class="clr"></div>
			<div class='btn_grade'>1</div>
			<div class='btn_grade'>2</div>
			<div class='btn_grade'>3</div>
			<div class='btn_grade'>4</div>
			<div class='btn_grade'>5</div>
			<div class="clr"></div>
			<div class='btn_grade'>6</div>
			<div class='btn_grade'>7</div>
			<div class='btn_grade'>8</div>
			<div class="clr"></div>
			<div class='btn_grade'>9</div>
			<div class='btn_grade'>10</div>
			<div class='btn_grade'>11</div>
			<div class='btn_grade'>12</div>
			<div class="clr"></div>
		</div>
	</div>      
	<div class="clr"></div>
</div>
<script>
	$("body").click(function(){
  	$(".option_grade").fadeOut("fast");
	});
	$('.btn_grade').click(function() {
		$('input[id=grade_level_placeholder]').val(this.innerHTML);
		$('input[id=_studentgrade_level]').val(this.innerHTML);
		$('.option_grade').fadeOut("fast");
	});
	$('.select_grade').mouseover(function() {
		$('.option_grade').show();											
	})
</script>



<div class="form_line">

	<% if defined?(student) && student.try(:street_number).present? %>
		<input id="street_number" class="bloc_3" name="[student]street_number" type="text" value="<%= student.street_number %>" />
	<% else %>
		<input id="street_number" class="bloc_3" name="[student]street_number" type="text" placeholder="Street Number" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:street_name).present? %>
		<input id="street_name" class="bloc_4" name="[student]street_name" type="text" value="<%= student.street_name %>" />
	<% else %>
		<input id="street_name" class="bloc_4" name="[student]street_name" type="text" placeholder="Street Name" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:zipcode).present? %>
		<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" value="<%= student.zipcode %>" />
	<% else %>
		<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" placeholder="ZIP" />
	<% end %>
			
	<div class="clr"></div>
</div>
	<!--END  Address and zip info -->

<!-- NEXT and Sibling school buttons -->
<div id="sibling_search_one" class="form_line">
	<% unless sibling_search == false %>
		<div  id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_one_autocomplete" name="[student]sibling_school_names[]" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
  <div id="add_child_two" class="add_child btn">
  	<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-10"></span>
    <span class="text">
    	Add another child
    </span>
  </div>
	<div class="clr"></div>
</div>
<script>
	$("#add_child_two").click(function() {
		$('#sibling_search_two').show();
	});
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_one_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>

<div id="sibling_search_two" class="form_line" style="display: none;">
	<% unless sibling_search == false %>
		<div  id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_two_autocomplete" name="[student]sibling_school_names[]" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
  <div id="add_child_three" class="add_child btn">
  	<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-10"></span>
    <span class="text">
    	Add another child
    </span>
  </div>
	<div class="clr"></div>
</div>
<script>
	$("#add_child_three").click(function() {
		$('#sibling_search_three').show();
	});
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_two_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>

<div id="sibling_search_three" class="form_line" style="display: none;">
	<% unless sibling_search == false %>
		<div  id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_three_autocomplete" name="[student]sibling_school_names[]" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
  <div id="add_child_four" class="add_child btn">
  	<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-10"></span>
    <span class="text">
    	Add another child
    </span>
  </div>
	<div class="clr"></div>
</div>
<script>
	$("#add_child_four").click(function() {
		$('#sibling_search_four').show();
	});
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_three_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>

<div id="sibling_search_four" class="form_line" style="display: none;">
	<% unless sibling_search == false %>
		<div id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_four_autocomplete" name="[student]sibling_school_names[]" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
  <div id="add_child_five" class="add_child btn">
  	<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-10"></span>
    <span class="text">
    	Add another child
    </span>
  </div>
	<div class="clr"></div>
</div>
<script>
	$("#add_child_five").click(function() {
		$('#sibling_search_five').show();
	});
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_four_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>

<div id="sibling_search_five" class="form_line" style="display: none;">
	<% unless sibling_search == false %>
		<div id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_five_autocomplete" name="[student]sibling_school_names[]" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
	<div class="clr"></div>
</div>
<script>
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_five_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>
<div id="search_form_submit" class="bloc_5">
	<%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %>
</div>
