<!-- preferences menu side bar for shool listing -->
<div class="preferences">
<!-- header only in tablet -->
	<div class="header_preferences">
		<p class="font_17">Choose what matters to <%= current_student.first_name %>: <span id="hide_btn">Hide Criteria &nbsp;<span aria-hidden="true" class="down_arrow icon-DBPS-Dev-Assets-SRG-41"></span></span><span id="show_btn">Show Criteria &nbsp;<span aria-hidden="true" class="up_arrow icon-DBPS-Dev-Assets-SRG-39"></span></span></p>
	</div>
	<!-- END header only in tablet -->
	
	<!-- preferences list for desktop and tablet situation -->
	<div id="preference_content">
		<% if PreferenceCategory.preference_panel.grade_level_categories(current_student.grade_level).present? %>
			<% @opening_tags = 0 %>
			<% @closing_tags = 0 %>
			<% PreferenceCategory.preference_panel.grade_level_categories(current_student.grade_level).rank(:sort_order).each_with_index do |category, i| %>
				<% if i.remainder(3) == 0 %>
					<% @opening_tags += 1 %>
					<div class="colonn">
				<% end %>
					<div id="preference_category_<%= category.id %>" class="preference preference_category">
						<p class='preference_category_title font_16'><span aria-hidden="true" class="<%= category.glyph_class %>"></span> <span class="text"><%= category.name %></span></p>
						<% category.grade_level_preferences(current_student.grade_level).rank(:sort_order).each do |preference| %>
							<label class='font_13_14'>
								<input data-category="preference_category_<%= category.id %>" id="preference_<%= preference.id %>" class="preference_checkbox" type='checkbox' name='[student][preference_ids][]' value='<%= preference.name %>', <%= current_student.preference_ids.include?(preference.id) ? 'checked' : '' %> />
								<span class="text"><%= preference.name %></span>
							</label>
						<% end %>
					</div>					
				<% if i.remainder(3) == 2 %>
					<% @closing_tags += 1 %>
					</div>
				<% end %>
				<% if ((i + 1) == PreferenceCategory.preference_panel.grade_level_categories(current_student.grade_level).count) && (@opening_tags > @closing_tags) %>
					</div>
				<% end %>
			<% end %>
		<% end %>
		<div class="clr"></div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(function() {
			return $('.preference_checkbox').click(function() {
				$.ajax({
	        url: '/students/<%= current_student.id %>/save_preference',
	        type: 'post',
	        data: $('.preference_checkbox:checked').serialize(),
	        dataType: 'script'
	      });
				// if a checkbox is clicked, get all the checkboxes and inspect their values
				$('.preference_category').each(function(i, category_div) {
					var checked_preference_values = new Array();
					$('#' + category_div.getAttribute('id') + ' .preference_checkbox').each(function(ii, category_checkbox) {
						if ($('#' + category_checkbox.getAttribute('id')).is(':checked')) {
							return checked_preference_values.push(category_checkbox.getAttribute('value'));
						} else {
							
						}
					});

					// hide all the icons with the same preference_category_id and only show if the
					// checkboxes in the category are blank or if the values match what's in the icon's data-tags
					$('.' + category_div.getAttribute('id') + '_icon').hide();
					// console.log($('.' + category_div.getAttribute('id') + '_icon').parent().getAttribute('id'));
					if (checked_preference_values.length === 0) {
						$('.' + category_div.getAttribute('id') + '_icon').show();
					} else {
						$('.' + category_div.getAttribute('id') + '_icon').each(function(iii, icon) {
							if ($.except(checked_preference_values, $(icon).data('tags')).length == 0) {
								$(icon).show();
							}
						});
					}
				});
				$('.list_row').each(function(i, school_row) {
					$('#' + school_row.getAttribute('id') + '_icon_count').text($('#' + school_row.getAttribute('id') + '_icons').children('.category_icon:visible').size());
				});
			});
		});
	});
</script>