.wrap.timeline_menu
	%section.content_wrap
		.logo_discover
			%span{aria: {hidden: 'true'}, class: "icon-DBPS-Dev-Assets-SRG-01"}

		.clr
	.clr

.wrap.global_map
	= render partial: 'schools/map', locals: {students_list: [current_student], school: nil, map_controls: false, width: '100%'}

	%div{class: "menu_student_info", style: "position: absolute; z-index: 10; margin-top: 273px;"}
		.name_list
			#name_1.name_info.active
				.name
					= current_student.first_name
					%span{aria: {hidden: 'true'}, class: "indicator icon-DBPS-Dev-Assets-SRG-08"}
				%span.grade
					Grade
					%br/
					%span.number
						= current_student.grade_level

				.clr
		.clr
	.clr

.wrap.result
	.preferences
		#preference_content
			.colonn

			.clr

		#school_list
		.shadow
		.list_content
			.flexible_content
				.menu_list
					.li_frame
						%div{class: "choice menu_bloc", style: "width: 193px;"}
							School Name

						#getting_there.menu_bloc
							.first_block
								Getting There

						.menu_bloc
							School Hours

						.menu_bloc
							Eligibility

						.clr

				%ul#sortable
					- schools.each_with_index do |student_school, i|
						- school = student_school.school
						%li{id: "list_#{i}", class: "ui-state-default"}
							.li_frame
								.school_name select line
									%span.middle
										= school.name
										- if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.include?(school.bps_id)
											%span{aria: {hidden: 'true'}, class: "select_icon icon-DBPS-Dev-Assets-SRG-12"}

								.box.line.getting_there
									%span.icon middle
										- if student_school.transportation_eligibility == 'Y'
											%span{aria: {hidden: 'true'}, class: "icon-DBPS-Dev-Assets-SRG-15 transportation_icon"}
										- else
											%span{aria: {hidden: 'true'}, class: "icon-DBPS-Dev-Assets-SRG-14 transportation_icon"}

									%span.middle sortable_distance
										= spacer_helper(student_school.distance)
										&nbsp;mi

								.box.line.school_hours
									%span.middle
										= truncate(school.api_hours.try(:[], :schhours1), length: 18)
										%br/
										.max_range
											%div{class: "ajust_range", style: "margin-left: #{school_hours_start_time_helper(school.api_hours.try(:[], :schhours1))}%; margin-right: #{school_hours_end_time_helper(school.api_hours.try(:[], :schhours1))}%;"}

								.box.line.surround_care
									.middle
										= eligibility_helper(student_school.eligibility)

								.clr
