<!-- full model for one school info (brief and full info) -->
<li id="list_<%= index + 1 %>" class="  ">
	<div class="li_frame">
		<!-- brief school information -->
		<div class="no_order line">
			<span class="middle"><%= index + 2 %></span>
		</div>
		<div class="school_name select line">
			<span class="middle">
				<%= school[:basic_info][:schname_23] %>
			</span>
		</div>
		
		<!-- add class "open" to show "Walk time info" and "Drive time info"-->
		<div class="box line getting_there ">
			<div class="first_block middle">
				<span class="icon middle">
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-14"></span>
				</span>
				<span class="middle"><span>3.2</span> mi</span>
			</div>
			<div class="second_bloc middle">
				<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
					
			</div>
			<div class="second_bloc middle last">
				<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
			</div>	
			
		</div>
		<div class="box line school_hours">
			<span  class="middle"> 7:30-2:30<br/>
				<div class="max_range">
					<div class="ajust_range" style="margin-left:0%;margin-right:30%;">
						
					</div>
				</div>
			</span>
		</div>
		<div class="box line surround_care">
			<span class="middle"><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-42"></span> Before school<br/>
			<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-42"></span> After school</span>
		</div>
		<div class="box line your_fit_icon">
			<span class="middle">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span> 
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span>
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span>
			</span>
		</div>
		<div class="box line your_fit_descrip">
			<span class="middle">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span> Small
			</span>
		</div>
		<div class="box line your_fit_descrip">
			<span class="middle">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span> Yes
			</span>
		</div>
		<div class="clr"></div>
		<!--END brief school information -->
		
		<!-- School information initially display none -->
					<div class="school_descrip">
						
						 
						<div class="right_side">
								<p class="adress"><%= school[:basic_info][:campus1address1] %>, <%= school[:basic_info][:campus1city] %> <%= school[:basic_info][:campus1zip] %></p>
									<!-- school's picture -->
									<div class="photos school_name ">
										<div class="principal">
											<div class="glass">
												<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-29"></span>
											</div>
											<img src="img/schools/eliotk8/school_large.jpg" alt=""  />
										</div>
										<div class="second small">
												<img src="img/schools/eliotk8/school_1.jpg" alt="" />
											</div>
										<div class="third small">
												<img src="img/schools/eliotk8/school_2.jpg" alt="" />
											</div>
										<div class="fourth small last">
												<img src="img/schools/eliotk8/school_3.jpg" alt="" />
											</div>
											<div class="clr"></div>
											
									</div>
									<!--END  school's picture -->
									
									
									<!-- show in desktop and tablet -->
									<div class="desktop_tablet">
										<div class="box">
											<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> 5.6 min from home</p>
												<p class="descrip">
													<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span><br/>
							<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
						</p>
										</div>
										<div class="box">
											<p  class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School hours</p>
						<p class="descrip">8am – 3pm</p>
						
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Surround care </p>
						<p class="descrip">7:30am – 6:45pm<br />
						<span  class="text_G1">Cost:</span> $30/month<br />
						<span  class="text_G1">Before:</span> Music, chorus, drama<br />
						<span  class="text_G1">After:</span> Champions after school program</p>
										</div>
										<div class="box">
										</div>
										<div class="clr"></div>
									</div>
									 <!--END show in desktop and tablet -->
									 
									 
									<div class="separation_line"></div>
									<div class="school_name ">
									<p class="font_17">About <%= school[:basic_info][:schname_23] %></p>
									
									<!-- website link -->
									<p><a class="text_B0" href="" title="School Website">School Website</a> <br/>
									
									<!-- email link -->
									Email: <a class="text_B0" href="mailto:eliotboston.k12.ma.us" title="Email adress"><%= school[:basic_info][:schemail] %></a></p>
									
									<!-- print logo link -->
									<p class="desktop_tablet"><a href="" title="Print Details"><span aria-hidden="true" class="font_20 icon-DBPS-Dev-Assets-SRG-28"></span> Print Details</a></p>
									
									<p class="descritiv"><%= school[:description][0][:schoolspecial] %></p>
									</div>
									<div class="full_details">
										<p class="font_17" style="margin-left:19px;">Full Details</p>
										
										<!-- 3 different presentation of the "Full school details" (desktop, tablet and mobile)-->
										
										 <!-- show in mobile -->
										<div class="mobile">
											<div class="box">
												<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> 5.6 min from home</p>
													<p class="descrip">
														<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span><br/>
								<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
							</p>
											</div>
											<div class="box">
												<p  class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School hours</p>
							<p class="descrip">8am – 3pm</p>
							
							<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Surround care </p>
							<p class="descrip">7:30am – 6:45pm<br />
							<span  class="text_G1">Cost:</span> $30/month<br />
							<span  class="text_G1">Before:</span> Music, chorus, drama<br />
							<span  class="text_G1">After:</span> Champions after school program</p>
											</div>
										 
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Grades Offered</p>
																<p class="descrip">GRADES</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Classes Per Grade</p>
																<p class="descrip">3</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Type</p>
																<p class="descrip">Charter</p>
												</div>
												
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Application</p>
																<p class="descrip">None</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Uniform Policy</p>
																<p class="descrip">None</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Eligibility</p>
																<p class="descrip">Walk Zone, Tier I</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> MCAS Tier</p>
																<p class="descrip">Tier I</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Focus</p>
																<p class="descrip">Math & Science, Technology</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Programs</p>
																<p class="descrip">AWC</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> State Designation</p>
																<p class="descrip">Level 1</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Facility Features</p>
																<p class="descrip">Swimming Pool, Playground, Wheelchair Access</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Sports</p>
																<p class="descrip">Baseball, Basketball, Football, Soccer, Track, Volleyball</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Health & Wellness</p>
																<p class="descrip">Full-Time Nurse</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Community Partners</p>
																<p class="descrip">None</p>
												</div>
												
										</div>
										<!-- END show in mobile-->
										
										 <!-- show in DESKTOP only -->
										<div class="desktop">
											<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Grades Offered</p>
																<p class="descrip">GRADES</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> MCAS Tier</p>
																<p class="descrip">Tier I</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Facility Features</p>
																<p class="descrip">Swimming Pool, Playground, Wheelchair Access</p>
												</div>
													<div class="clr"></div>
												</div>
												<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Classes Per Grade</p>
																<p class="descrip">3</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Focus</p>
																<p class="descrip">Math & Science, Technology</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Sports</p>
																<p class="descrip">Baseball, Basketball, Football, Soccer, Track, Volleyball</p>
												</div>
													<div class="clr"></div>
												</div>
												<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Type</p>
																<p class="descrip">Charter</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Programs</p>
																<p class="descrip">AWC</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Health & Wellness</p>
																<p class="descrip">Full-Time Nurse</p>
												</div>
													<div class="clr"></div>
												</div>
												<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Application</p>
																<p class="descrip">None</p>
												</div>
												<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> State Designation</p>
																<p class="descrip">Level 1</p>
												</div>
														<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Community Partners</p>
																<p class="descrip">None</p>
												</div>
													<div class="clr"></div>
												</div>
												<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Uniform Policy</p>
																<p class="descrip">None</p>
												</div>
												<div class="box">
															<p class="title"></p>
																<p class="descrip"></p>
												</div>
														<div class="box">
															<p class="title"></p>
																<p class="descrip"></p>
												</div>
													<div class="clr"></div>
												</div>
												<div class="detail_row">
											<div class="box">
															<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Eligibility</p>
																<p class="descrip">Walk Zone, Tier I</p>
												</div>
												<div class="box">
															<p class="title"></p>
																<p class="descrip"></p>
												</div>
														<div class="box">
															<p class="title"></p>
																<p class="descrip"></p>
												</div>
													<div class="clr"></div>
												</div>
										</div>
										
									
										 <!--END show in desktop only -->
										 
											<!-- show in TABLET  only -->
										<div class="tablet">
												<div class="detail_row">
												<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Grades Offered</p>
																	<p class="descrip">GRADES</p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> MCAS Tier</p>
																	<p class="descrip">Tier I</p>
													</div>
													<div class="clr"></div>
													</div>
													<div class="detail_row">
															<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Classes Per Grade</p>
																	<p class="descrip">3</p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Focus</p>
																	<p class="descrip">Math & Science, Technology</p>
													</div>
													<div class="clr"></div>
													</div>
													<div class="detail_row">
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> School Type</p>
																	<p class="descrip">Charter</p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Programs</p>
																	<p class="descrip">AWC</p>
													</div>
															<div class="clr"></div>
													</div>
													<div class="detail_row">
												<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Special Application</p>
																	<p class="descrip">None</p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> State Designation</p>
																	<p class="descrip">Level 1</p>
													</div>
													
													<div class="clr"></div>
													</div>
													<div class="detail_row">
														<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Uniform Policy</p>
																	<p class="descrip">None</p>
													</div>
														<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Facility Features</p>
																	<p class="descrip">Swimming Pool, Playground, Wheelchair Access</p>
													</div>
													<div class="clr"></div>
													</div>
													<div class="detail_row">
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Eligibility</p>
																	<p class="descrip">Walk Zone, Tier I</p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Sports</p>
																	<p class="descrip">Baseball, Basketball, Football, Soccer, Track, Volleyball</p>
													</div>
														<div class="clr"></div>
													</div>
													<div class="detail_row">
													<div class="box">
																<p class="title"></p>
																	<p class="descrip"></p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Health & Wellness</p>
																	<p class="descrip">Full-Time Nurse</p>
													</div>
												 <div class="clr"></div>
													</div>
													<div class="detail_row">
															<div class="box">
																<p class="title"></p>
																	<p class="descrip"></p>
													</div>
													<div class="box">
																<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Dev-Assets-SRG-35"></span> Community Partners</p>
																	<p class="descrip">None</p>
													</div>
												 <div class="clr"></div>
													</div>
													
											</div>
											
										
						<!-- show in tablet  only -->
											<div class="clr"></div>
										</div>
										<div class="clr"></div>
									</div>
							</div>
					
					</div>
					<!--END  School information -->
	
</li>