<!-- show in desktop and tablet -->
<% if school.api_photos.present? && school.api_photos.try(:[], 0).present? %>
	<div class="school_photos photos">
		<div class="principal">
			<div class="glass">
				<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-29"></span>
			</div>
			<img src="<%= school.api_photos.try(:[], 0).try(:[], :url) %>" alt=""  />
		</div>
		<% if school.api_photos.try(:[], 1).present? %>
			<div class="second small">
				<img src="<%= school.api_photos[1].try(:[], :url) %>" alt="" />
			</div>
		<% end %>
		<% if school.api_photos.try(:[], 2).present? %>
			<div class="third small">
				<img src="<%= school.api_photos[2].try(:[], :url) %>" alt="" />
			</div>
		<% end %>
		<% if school.api_photos.try(:[], 3).present? %>
			<div class="fourth small last">
				<img src="<%= school.api_photos[3].try(:[], :url) %>" alt="" />
			</div>
		<% end %>
		<div class="clr"></div>
	</div>
	<div class="school_description">
		<%= school.api_description.try(:[], :schoolspecial) %>
	</div>
	<div class="clr"></div>
<% else %>
	<div class="school_description full">
		<%= school.api_description.try(:[], :schoolspecial) %>
	</div>
<% end %>
<!--END show in desktop and tablet --> 
 
<div class="separation_line"></div>
<p id="about_title" class="font_17">About <%= school.name %></p>

<div class="school_info_column">
	<p>
		<%= school.api_basic_info.try(:[], :campus1address1) %>, <%= school.api_basic_info.try(:[], :campus1city) %> <%= school.api_basic_info.try(:[], :campus1zip) %>
		<br />
		<% if school.api_basic_info.try(:[], :SchLink).present? %>
			<%= link_to 'School Website', school.api_basic_info.try(:[], :SchLink), class: "text_B0", title: "School Website", target: "_blank" %>
			<br/>			
		<% end %>
		<%= mail_to school.api_basic_info.try(:[], :schemail), school.api_basic_info.try(:[], :schemail), class: "text_B0", title: "Email Address" %>
	</p>
	<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"></span> <%= raw student_school.distance %> mi from home</p>
	<p class="descrip">
		<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> <%= raw student_school.walk_time %> <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span><br/>
		<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> <%= raw student_school.drive_time %> <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
	</p>

	<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"></span> School hours</p>

	<p class="descrip"><%= school.api_hours.try(:[], :schhours1) %></p>

	<% if NON_TRANSITION_GRADES.include?(current_student.grade_level) %>
		<% if school.api_basic_info.try(:[], :BeforeSchPrograms).present? || school.api_basic_info.try(:[], :AfterSchPrograms).present? %>
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_surroundcare"></span> Surround care </p>

			<p class="descrip">
				<% if school.api_basic_info.try(:[], :BeforeSchPrograms).present? %>
					<span class="text_G1">Before:</span> <%= school.api_basic_info.try(:[], :BeforeSchPrograms) %><br /><br />
				<% end %>
				<% if school.api_basic_info.try(:[], :AfterSchPrograms).present? %>
					<span class="text_G1">After:</span> <%= school.api_basic_info.try(:[], :AfterSchPrograms) %>
				<% end %>
			</p>
		<% end %>
	<% end %>

	<!-- print logo link -->
	<p class="desktop_tablet">
		<a href="/schools/<%= school.slug %>/print" title="Print Details" class="text_B0"><span aria-hidden="true" class="font_20 icon-DBPS-Dev-Assets-SRG-28"></span> Print Details</a>
	</p>
	<div class="clr"></div>
</div>

<div class="desktop">
	<div class="school_features_column">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"></span> School Type</p>
			<p class="descrip"><%= school.api_basic_info.try(:[], :SchoolType) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"></span> Grades Offered</p>
			<p class="descrip"><%= grade_levels_helper(school.grade_levels) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"></span> Enrollment</p>
			<p class="descrip"><%= school.api_basic_info.try(:[], :SchSize) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"></span> Eligibility</p>
			<p class="descrip"><%= student_school.eligibility %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"></span> Special Application</p>
			<p class="descrip"><%= special_application_helper(school.api_description.try(:[], :isspecialappprocedures)) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"></span> Advanced Work Class (AWC)</p>
			<p class="descrip"><%= awc_helper(school.api_basic_info.try(:[], :IsAWC)) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"></span> MCAS Tier</p>
			<p class="descrip"><%= school_tier_helper(student_school.tier) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"></span> Uniform Policy</p>
			<% if school.api_description.try(:[], :uniformpolicydesc).present? %>
				<p class="descrip"><%= school.api_description.try(:[], :uniformpolicydesc) %></p>
			<% else %>
				<p class="descrip"><%= school.api_description.try(:[], :uniformpolicy) %></p>
			<% end %>
		</div>
	</div>

	<div class="school_features_column">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"></span> School Focus</p>
			<p class="descrip"><%= school.api_description.try(:[], :schfocus) %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"></span> Health & Wellness</p>
			<p class="descrip"><%= school.api_basic_info.try(:[], :ishasfulltimenurse) == 'True' ? 'Full-Time Nurse' : '' %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"></span> Community Partners</p>
			<p class="descrip"><%= partners_list_helper(school.api_partners) %></p>
		</div>
	</div>

	<div class="school_features_column">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"></span> Facility Features</p>
			<p class="descrip"><%= facilities_list_helper(school.api_facilities) %></p>
		</div>
		<% if UPPER_GRADES.include?(current_student.grade_level) %>
			<div class="box">
				<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"></span> Sports</p>
				<p class="descrip"><%= sports_list_helper(school.api_sports) %></p>
			</div>
		<% end %>
	</div>
</div>