<li id="list_<%= index + 1 %>" class="list_row  ">
	<div class="li_frame">
		<!-- brief school information -->
		<div class="no_order line">
			<span class="middle"><%= index + 1 %></span>
		</div>
		<div class="school_name select line">
			<span class="middle">
				<%= school.api_basic_info[0][:schname_23] %>
				<% if current_student.sibling_school_id == school.bps_id %>
					<span aria-hidden="true" class="select_icon icon-DBPS-Dev-Assets-SRG-12"></span>
				<% end %>
			</span>
		</div>
		
		<!-- add class "open" to show "Walk time info" and "Drive time info"-->
		<div class="box line getting_there ">
			<div class="first_block middle">
				<span class="icon middle">
					<% if school.walk_zone_eligibility == 'Y' %>
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-14"></span>
					<% elsif school.transportation_eligibility == 'Y' %>
						<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-15"></span>
					<% end %>
				</span>
				<span class="middle"><span>3.2</span> mi</span>
			</div>
			<div class="second_bloc middle">
				<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
					
			</div>
			<div class="second_bloc middle last">
				<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> 3 min <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
			</div>	
			
		</div>
		<div class="box line school_hours">
			<span  class="middle"> <%= truncate(school.api_hours[0][:schhours1], length: 18) %><br/>
				<div class="max_range">
					<div class="ajust_range" style="margin-left:<%= school_hours_start_time_helper(school.api_hours[0][:schhours1]) %>%;margin-right:<%= school_hours_end_time_helper(school.api_hours[0][:schhours1]) %>%;">
						
					</div>
				</div>
			</span>
		</div>
		<div class="box line surround_care">
			<span class="middle">
				<% if school.api_basic_info[0][:BeforeSchPrograms].present? %>
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-42"></span> Before school<br/>
				<% end %> 
				<% if school.api_basic_info[0][:AfterSchPrograms].present? %>
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-42"></span> After school<% end %>
			</span>
		</div>
		<div class="box line your_fit_icon">
			<span class="middle">
				<% PreferenceCategory.preference_panel.each do |category| %>
					<span aria-hidden="true" class="icon <%= category.glyph_class %>"></span> 
				<% end %>
			</span>
		</div>
		<div class="box line your_fit_descrip">
			<span class="middle">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span> Small
			</span>
		</div>
		<div class="box line your_fit_descrip">
			<span class="middle">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-35"></span> Yes
			</span>
		</div>
		<div class="clr"></div>
		<!--END brief school information -->
		
		<div class="school_descrip">
			<div class="right_side">

					<%= render partial: 'schools/school_details_desktop', locals: {school: school} %>
						
					<%= render partial: 'schools/school_details_mobile', locals: {school: school} %>				
						 
					<%= render partial: 'schools/school_details_tablet', locals: {school: school} %>

					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
		</div>

	</div>		
</li>