<div class="tablet">
	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"></span> Grades Offered</p>
			<p class="descrip"><%= school.api_grades[0][:grade] %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"></span> MCAS Tier</p>
			<p class="descrip">Tier <%= school.tier %></p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"></span> Enrollment</p>
			<p class="descrip"><%= school.api_basic_info[0][:SchSize] %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"></span> School Focus</p>
			<p class="descrip"><%= school.api_description[0][:schfocus] %></p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"></span> School Type</p>
			<p class="descrip"><% if school.api_basic_info[0][:ischarter] == 'True' %>Charter<% end %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialprograms"></span> Special Programs</p>
			<p class="descrip">WAITING</p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"></span> Special Application</p>
			<p class="descrip"><%= school.api_description[0][:specialapplicationnarrative].present? ? school.api_description[0][:specialapplicationnarrative] : 'None' %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"></span> Facility Features</p>
			<p class="descrip"><%= facilities_list_helper(school.api_facilities[0]) %></p>
		</div>
	<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"></span> Uniform Policy</p>
			<p class="descrip"><%= school.api_description[0][:uniformpolicy].blank? ? 'None' : school.api_description[0][:uniformpolicy] %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"></span> Sports</p>
			<p class="descrip"><%= sports_list_helper(school.api_sports[0]) %></p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"></span> Eligibility</p>
			<p class="descrip"><%= school.transportation_eligibility == 'Y' ? 'Transportation' : 'Walk Zone' %></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"></span> Health & Wellness</p>
			<p class="descrip"><%= school.api_basic_info[0][:ishasfulltimenurse] == 'True' ? 'Full-Time Nurse' : '' %></p>
		</div>
		<div class="clr"></div>
	</div>

	<div class="detail_row">
		<div class="box">
			<p class="title"></p>
			<p class="descrip"></p>
		</div>
		<div class="box">
			<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"></span> Community Partners</p>
			<p class="descrip"><%= school.api_partners %></p>
		</div>
		<div class="clr"></div>
	</div>

</div>