<!-- Address and zip info -->
<div class="form_line">
	<input id="street_number" name="[student]street_number" class="bloc_3" type="text" placeholder="<%= (defined?(student) && student.try(:street_number).present?) ? student.street_number : 'Street number' %>" />
	<div class="separation_bloc">
		<div class="separation"></div>
	</div>
	<input id="street_name" name="[student]street_name" class="bloc_4" type="text" placeholder="<%= (defined?(student) && student.try(:street_name).present?) ? student.street_name : 'Street name' %>" />
	<div class="separation_bloc">
		<div class="separation"></div>
	</div>
		<input id="zipcode" name="[student]zipcode" class="bloc_2" type="text" placeholder="<%= (defined?(student) && student.try(:zipcode).present?) ? student.zipcode : 'ZIP' %>" />
				
			<!-- Use current location button -->
			<!-- <div class="current_location btn">
				<span aria-hidden="true" class="icon icon-DBPS-Dev-Assets-SRG-37"></span>
					<span class="text">
						Use current location
					</span>
			</div> -->
			<!-- END  Use current location button -->
			
		<div class="clr"></div>
	</div>
	<!--END  Address and zip info -->
	<div class="form_line">                    	
		<input id="first_name" name="[student]first_name" class="bloc_3" type="text" placeholder="<%= (defined?(student) && student.try(:first_name).present?) ? student.first_name : 'Student first name' %>" />
		<div class="separation_bloc">
			<div class="separation"></div>
		</div>
		<input id="last_name" name="[student]last_name" class="bloc_4" type="text" placeholder="<%= (defined?(student) && student.try(:last_name).present?) ? student.last_name : 'Last name' %>" />
		<div class="separation_bloc">
			<div class="separation"></div>
		</div>
		<div class="bloc_2 select_grade" >
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
			<input id="grade_level_placeholder" name="[student]grade_level" type="text" placeholder="<%= (defined?(student) && student.try(:grade_level).present?) ? student.grade_level : 'Grade' %>" />
			<div class='option_grade'>
				<div class='btn_grade'>K0</div>
				<div class='btn_grade'>K1</div>
				<div class='btn_grade'>K2</div>
				<div class="clr"></div>
				<div class='btn_grade'>1</div>
				<div class='btn_grade'>2</div>
				<div class='btn_grade'>3</div>
				<div class='btn_grade'>4</div>
				<div class='btn_grade'>5</div>
				<div class="clr"></div>
				<div class='btn_grade'>6</div>
				<div class='btn_grade'>7</div>
				<div class='btn_grade'>8</div>
				<div class="clr"></div>
				<div class='btn_grade'>9</div>
				<div class='btn_grade'>10</div>
				<div class='btn_grade'>11</div>
				<div class='btn_grade'>12</div>
				<div class="clr"></div>
			</div>
		</div>      
		<div class="clr"></div>
	</div>
	<script>
		$('.btn_grade').click(function() {
			$('#grade_level_placeholder').val(this.innerText);
			$('#_studentgrade_level').val(this.innerText);
		});
	</script>

<!-- NEXT and Sibling school buttons -->
<div class="form_line">
	<div class="bloc_6 portrait">
		<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
		<input type="text" placeholder="Set Sibling's school" />
		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
	</div>
	<div id="search_form_submit" class="bloc_5">
		<%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %>
	</div>
	<div class="bloc_6">
		<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
		<input id="sibling_school_autocomplete" name="[student]sibling_school_name" type="text" placeholder="Set Sibling's school" />
		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
	</div>
	<div class="clr"></div>
</div>
<script>
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name} %>;
		$( "#sibling_school_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>
<!--END    NEXT and Sibling school buttons -->