<div class="form_line">

	<% if defined?(student) && student.try(:first_name).present? %>
		<input id="first_name" class="bloc_3" name="[student]first_name" type="text" value="<%= student.first_name %>" />
	<% else %>
		<input id="first_name" class="bloc_3" name="[student]first_name" type="text" placeholder="First Name (optional)" />
	<% end %>


	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:last_name).present? %>
		<input id="last_name" class="bloc_4" name="[student]last_name" type="text" value="<%= student.last_name %>" />
	<% else %>
		<input id="last_name" class="bloc_4" name="[student]last_name" type="text" placeholder="Last Name (optional)" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>
	<div class="bloc_2 select_grade" >
		<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>

		<% if defined?(student) && student.try(:grade_level).present? %>
			<input id="grade_level_placeholder" name="[student]grade_level" type="text" value="<%= student.grade_level %>" />
		<% else %>
			<input id="grade_level_placeholder" name="[student]grade_level" type="text" placeholder="Grade" />
		<% end %>

		<div class='option_grade'>
			<div class='btn_grade'>K0</div>
			<div class='btn_grade'>K1</div>
			<div class='btn_grade'>K2</div>
			<div class="clr"></div>
			<div class='btn_grade'>1</div>
			<div class='btn_grade'>2</div>
			<div class='btn_grade'>3</div>
			<div class='btn_grade'>4</div>
			<div class='btn_grade'>5</div>
			<div class="clr"></div>
			<div class='btn_grade'>6</div>
			<div class='btn_grade'>7</div>
			<div class='btn_grade'>8</div>
			<div class="clr"></div>
			<div class='btn_grade'>9</div>
			<div class='btn_grade'>10</div>
			<div class='btn_grade'>11</div>
			<div class='btn_grade'>12</div>
			<div class="clr"></div>
		</div>
	</div>      
	<div class="clr"></div>
</div>
<script>
	$("body").click(function(){
  	$(".option_grade").fadeOut("fast");
	});
	$('.btn_grade').click(function() {
		$('#grade_level_placeholder').val(this.innerHTML);
		$('#_studentgrade_level').val(this.innerHTML);
		$('.option_grade').fadeOut("fast");
	});
	$('.select_grade').mouseover(function() {
		$('.option_grade').show();											
	})
</script>



<div class="form_line">

	<% if defined?(student) && student.try(:street_number).present? %>
		<input id="street_number" class="bloc_3" name="[student]street_number" type="text" value="<%= student.street_number %>" />
	<% else %>
		<input id="street_number" class="bloc_3" name="[student]street_number" type="text" placeholder="Street Number" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:street_name).present? %>
		<input id="street_name" class="bloc_4" name="[student]street_name" type="text" value="<%= student.street_name %>" />
	<% else %>
		<input id="street_name" class="bloc_4" name="[student]street_name" type="text" placeholder="Street Name" />
	<% end %>

	<div class="separation_bloc">
		<div class="separation"></div>
	</div>

	<% if defined?(student) && student.try(:zipcode).present? %>
		<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" value="<%= student.zipcode %>" />
	<% else %>
		<input id="zipcode" class="bloc_2" name="[student]zipcode" type="text" placeholder="ZIP" />
	<% end %>
			
	<div class="clr"></div>
</div>
	<!--END  Address and zip info -->

<!-- NEXT and Sibling school buttons -->
<div class="form_line">
	<div id="search_form_submit" class="bloc_5">
		<%= submit_tag 'Next', disable_with: 'Working...', class: 'orange_submit' %>
	</div>
	<% unless sibling_search == false %>
		<div  id="sibling_school" class="bloc_6">
			<span aria-hidden="true" class="select_school_icon icon-DBPS-Dev-Assets-SRG-12"></span>
			<input id="sibling_school_autocomplete" name="[student]sibling_school_name" type="text" placeholder="Set Sibling's School" />
			<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-41"></span>
		</div>
	<% end %>
	<div class="clr"></div>
</div>
<script>
	$(function() {
		var schoolNames = <%= raw School.all.collect {|x| x.name}.compact %>;
		$( "#sibling_school_autocomplete" ).autocomplete({
			source: schoolNames,
			minLength: 2,
			messages: {
				noResults: '',
				results: function() {}
			}
		});
	});
</script>