<div class="name_info <%= student == current_student ? 'active' : '' %>" id="student_<%= student.id %>_tab">
	<span class="name"><%= link_to student.first_name, schools_path(student: student.first_name), class: 'student_tab' %> <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span> </span>
	<span class="grade">Grade<br/><span class="number"><%= student.grade_level %></span></span>
	<div class="clr"></div>
</div>
<script>
	<% if student == current_student %>
	$("#student_<%= student.id %>_tab").click(function(){
		$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/dialog_boxes/address_search', locals: {student: student}) %>");
		$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
		$('#dialog_box').show();
		return false;
	});
	<% else %>
		$("#student_<%= student.id %>_tab").click(function(){
	  	window.location=$(this).find("a").attr("href"); 
				return false;
		});
	<% end %>
</script>
