<% if student == current_student %>
	<div class="name_info active" id="student_<%= student.id %>_tab">
		<span class="name">
			<%= truncate(student.first_name, length: 12) %>
			<span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
		</span>
		<span class="grade">
			Grade <%= student.grade_level %>
		</span>
		<div class="clr"></div>
	</div>

	<script>
		$( document ).ready(function() {
			$("#student_<%= student.id %>_tab").click(function(){
				$('#dialog_box').html("<%= escape_javascript(render partial: 'students/address/address_search', locals: {student: student}) %>");
				$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
				$('#dialog_box').show();
				return false;
			});
		});
	</script>

<% else %>
	<div class="name_info" id="student_<%= student.id %>_tab">
		<span class="name">
			<%= truncate(student.first_name, length: 12) %>
			<span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span>
		</span>
		<span class="grade">
			Grade<br/><span class="number"><%= student.grade_level %></span>
		</span>
		<a href="<%= schools_path(student: student.id) %>">
			<span class="hyperspan"></span>
		</a>
		<div class="clr"></div>
	</div>
<% end %>
