<%= render partial: 'schools/horizontal_timeline' %>


<div class="wrap no_mobile">
	<!--languages selection and his list-->
	<ul class='languages'>
		<li>
			<div class='current_language'><span data-icon="&#xe003;" aria-hidden="true"></span>English</div>
			<div class='clr'></div>
			<ul >
				<li><a href='#' class='language'>Español</a></li>
				<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
				<li><a href='#' class='language'>??</a></li>
				<li><a href='#' class='language'>Português</a></li>
				<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
				<li><a href='#' class='language'>Ti?ng Vi?t</a></li>
				<li><a href='#' class='language'>Français</a></li>
				<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span>Other</a></li>
			</ul>
		</li>
	</ul>
<!--END list-->
</div>

<div class="wrap global_map">
	<section class="content_wrap">
			<%= render partial: 'schools/account_tab' %>		
	</section>
	<%= render partial: 'schools/map', locals: {students_list: current_user_students, map_controls: true, width: '100%'} %>
</div>

<div class="wrap compare_list" id="compare_list">
	<div class="colomn_left">
		<div class="menu_compare_name ">
			<div style="width: 170px; height: 42px;">
				<br />
			</div>
			<div class="clr"></div>
		</div>
		<div class="result">
			<div class="compare_list_numbers">
				<ul>
					<% (1..current_user_students.collect {|x| x.student_schools }.max.count).each do |num| %>
						<li><h2><%= num %></h2></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>	
	<div class="result colomn_right">	
		<div class="compare_list_content">
			<!-- ajust the div width when studens are add (to create left and right draggable effect of the school list)  -->	
			<div class="flexible_content" style="width:1095px;">
				<div class="menu_compare_name compare_action">
					<div class="name_list">
						<% current_user_students.each_with_index do |student, i| %>
							<div class="name_info" id="name_<%= i + 2 %>">
								<span class="name"><%= student.first_name %> <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span> </span>
								<span class="grade">Grade<br/><span class="number"><%= student.grade_level %></span></span>
								<div class="clr"></div>
							</div>
						<% end %>
					</div>
					<div class="clr"></div>
				</div>
				<% current_user_students.each_with_index do |student, student_i| %>
					<div class="compare_students_column">
						<ul id="sortable_<%= student_i %>">
							<% student.student_schools.rank(:sort_order).each_with_index do |school, i| %>
								<li id="<%= student.id %>_<%= school.bps_id %>">
									<div class="li_frame">
										<div class="school_name draggable line">
											<span class="middle">
						            <h3><%= school.try(:school).try(:api_basic_info).try(:[], 0).try(:[], :schname_23) %></h3>
						          </span>
										</div>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
					<script>
						$(function() {
					    $("#sortable_<%= student_i %>").sortable({ 
					    	axis: "y", 
					    	scroll: true,
					    	update: function(){
						      $.ajax({
						        url: '/schools/sort',
						        type: 'post',
						        data: $('#sortable_<%= student_i %>').sortable('serialize'),
						        dataType: 'script'
						      });
						  	}
						  });
					    $("#sortable_<%= student_i %>").disableSelection();
					  });
					</script>
				<% end %>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	
	<%= render partial: 'schools/footer' %>
	
