= render partial: 'schools/page_elements/header'

.wrap
	= render partial: 'schools/page_elements/student_tabs'

.wrap.global_map
	= render partial: 'schools/page_elements/map', locals: {students_list: current_user_students, school: nil, map_controls: true, height: 'resize', width: '100%'}

.wrap
	= render partial: 'schools/page_elements/school_list_tabs'

#compare_list.wrap.compare_list
	= link_to get_ready_schools_path do
		%span{data: {icon: "&#xe001;"}, class: 'arrow_slide no_mobile'}

	.colomn_left
		.result
			.compare_list_numbers
				%ul
					- (1..current_user_students.collect {|x| x.home_schools }.max.count).each do |num|
						%li
							%h2
								= num

	- colors = ['#0077cf', '#61ab00', '#ff9500', '#7400b8', '#00c9bc']
	.result.colomn_right
		.compare_list_content

			%div{class: "flexible_content", style: "width:1095px;"}

				- current_user_students.each_with_index do |student, student_i|
					.compare_students_column
						%ul{id: "sortable_#{student_i}"}
							- student.home_schools.rank(:sort_order).each_with_index do |student_school, i|
								%li{id: "#{student.id}_#{student_school.school.bps_id}"}
									.li_frame
										.school_name.draggable.line
											- if @matching_school_ids.include?(student_school.bps_id)
												%span{class: "middle", style: "background-color: #ffff00;"}
													%h3{style: "padding-left: 12px;"}
														= student_school.school.name
											- else
												%span.middle
													%h3{style: "padding-left: 12px;"}
														= student_school.school.name

					:javascript
						$(function() {
							$("#sortable_#{student_i}").sortable({
								axis: "y",
								scroll: true,
								update: function(){
									$.ajax({
										url: '/schools/sort',
										type: 'post',
										data: $('#sortable_#{student_i}').sortable('serialize'),
										dataType: 'script'
									});
								}
							});
							$("#sortable_#{student_i}").disableSelection();
						});
				.clr

	= render partial: 'schools/page_elements/footer'
