= render partial: 'layouts/schools/header', locals: {page_step: 3}

.wrap
	= render partial: 'layouts/schools/student_tabs'

.wrap.global_map
	= render partial: 'layouts/schools/map', locals: {students_list: current_user_students, school: nil, map_controls: true, height: 'resize', width: '100%'}

.wrap.compare_lists
	= render partial: 'layouts/schools/school_list_tabs'

#compare_list.compare_list.wrap
	%a.next_step{:href => "#{get_ready_schools_path}"}
		%span.next
			= 'Next'
		%span.text
			= 'Step 4 - Get Ready!'
		%span.arrow


	.result.clearfix
		-# LEFT COLUMN
		-# ----------------------------------------------
		.labels.column_left.column
			.labels_frame
				#your_rank_row.label.rank.no_icon
					Your Rank
				#school_name.label.name.no_icon
					Name
				.label.your_fit.no_icon
					Fit Score
				- if TRANSITION_GRADES.include?(current_student.grade_level)
					.label.demand.no_icon
						= "#{current_school_year_range} Demand"
				.label.travel
					%span{:aria => {hidden: true}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"}
					Travel
				.label.eligibility
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"}
					Eligibility
				.label.hours
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"}
					Hours
				.label.surround_care
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_surroundcare"}
					Surround Care
				-# .label.school_type
				-# 	%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
				-# 	School Type
				.label.grades
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"}
					Grades Offered
				.label.enrollment
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
					= "#{current_student.formatted_grade_level_name} Enrollment"
				.label.application
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"}
					Special Application
				.label.awc
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"}
					Advanced Work Class (AWC)
				.label.mcas
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"}
					SQF Quality Tier
				.label.uniform
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"}
					Uniform Policy
				.label.school.long
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"}
					School Focus
				.label.programs.mid
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
					Programs
				.label.facilities.long
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"}
					Facility Features
				.label.health.long
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"}
					Student Support
				.label.sports.long
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"}
					Sports
				.label.comm_partners.long
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"}
					Community Partners

		= render partial: 'schools/compare/home_schools'
		= render partial: 'schools/compare/zone_schools'
		= render partial: 'schools/compare/ell_schools'
		= render partial: 'schools/compare/sped_schools'

	= render partial: 'layouts/schools/footer'

:javascript

	$(function() {
		$("#sortable_0").disableSelection();
		$('.compare_list_content').tooltip({
			track: true,
			hide: {
				duration: 0
			}
		});
	});

	$(function() {
		$("#sortable_0").sortable({
			axis: "x",
			scroll: true,
			sort: function( event, ui ) {
				$('.compare_list_content').tooltip('close');
			},
			update: function(){
				$('#sortable_0 li').each(function(){
					$(this).find('.sortable_row_number').html($(this).index() + 1);
				});
				$.ajax({
					url: '/student_schools/sort',
					type: 'post',
					data: $('#sortable_0').sortable('serialize'),
					dataType: 'script'
				});
			}
		});
		$("#sortable").disableSelection();
	});
