= render partial: 'schools/page_elements/header', locals: {page_step: 3}

.wrap
	= render partial: 'schools/page_elements/student_tabs'

.wrap.global_map
	= render partial: 'schools/page_elements/map', locals: {students_list: current_user_students, school: nil, map_controls: true, height: 'resize', width: '100%'}

.wrap.compare_lists
	= render partial: 'schools/page_elements/school_list_tabs'

#compare_list.compare_list.wrap
	= link_to get_ready_schools_path do
		%span.arrow_slide.no_mobile
			= image_tag('next-step-3.png')

	.result.clearfix
		= render partial: 'schools/compare/home_schools'
		= render partial: 'schools/compare/zone_schools'
		= render partial: 'schools/compare/ell_schools'
		= render partial: 'schools/compare/sped_schools'

	= render partial: 'schools/page_elements/footer'
