= render partial: 'schools/page_elements/header', locals: {page_step: 4}

- if @home_schools.present? && @zone_schools.present?
	.wrap
		= render partial: 'schools/page_elements/student_tabs'

.wrap.get_ready
	.result.clearfix

		#footer_content.column.column_left
			= render partial: 'schools/page_elements/footer'

		#school_list.column.column_center
			= render partial: 'schools/page_elements/school_list_tabs'

			= render partial: 'schools/get_ready/home_schools'
			= render partial: 'schools/get_ready/zone_schools'
			= render partial: 'schools/get_ready/ell_schools'
			= render partial: 'schools/get_ready/sped_schools'

		#timeline_wrap.column.column_right
			= render partial: 'schools/page_elements/get_ready_timeline'

	= render partial: 'schools/page_elements/footer'


:javascript
	$( document ).ready(function() {
		//Click on school name to open the full school description in the school line
		$("#school_list li .li_frame > .school_name").click(function() {
			$(this).parent().parent().addClass("descrip_open");
			$(this).parent().parent().find(".school_descrip").toggle();
			}
		);

		//compare button => add class to compare_list, close school list and preferences, and show the comparaison list
		/*$(".menu_compare_name .compare").click(function(){

			$(this).parent().addClass("compare_action");
			$("#school_list").css("display","none");
			$(".preferences").css("display","none");
			$("#compare_list").css("display","block");


		})*/

		//btn close preference choice in tablet size
		/*$(".header_preferences #hide_btn").click(function(){
			$(".preferences").addClass("hide");
		})
		//btn show preference choice in tablet size
		$(".header_preferences #show_btn").click(function(){
			$(".preferences").removeClass("hide");
		})*/

		$("#sign_up_button").click(function(){
			$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/signup')}");
			$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
			$('#signup_panel').show();
			$('#dialog_box').show();
			return false;
		});

		$("#login_button").click(function(){
			$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/login')}");
			$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
			$('#login_panel').show();
			$('#dialog_box').show();
			return false;
		});

		/*$("#sortable").sortable({
			axis: "y",
			scroll: true,
			update: function(){
				$('#sortable li').each(function(){
					$(this).find('.sortable_row_number').html($(this).index() + 1);
				});
				$.ajax({
					url: '/student_schools/sort',
					type: 'post',
					data: $('#sortable').sortable('serialize'),
					dataType: 'script'
				});
			}
		});
		$("#sortable").disableSelection();

		var choice_order_ascending = false;
		$("#sortable_choice_order_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#0077cf")
			if (choice_order_ascending) {
				$('ul#sortable>li').tsort('span.sortable_row_number',{order:'desc'});
				$('#sortable_choice_order_column').html('<div aria-hidden="true" id="choice_order_arrow" class="icon-DBPS-Dev-Assets-arrow-down"></div>');
				choice_order_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_row_number',{order:'asc'});
				$('#sortable_choice_order_column').html('<div aria-hidden="true" id="choice_order_arrow" class="icon-DBPS-Dev-Assets-arrow-up"></div>');
				choice_order_ascending = true;
			}
		});

		var school_name_ascending = false;
		$("#sortable_school_name_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_school_name_column').css("color", "#0077cf")
			if (school_name_ascending) {
				$('ul#sortable>li').tsort('span.sortable_school_name',{order:'desc'});
				$('#sortable_school_name_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">School Name</div>');
				school_name_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_school_name',{order:'asc'});
				$('#sortable_school_name_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">School Name</div>');
				school_name_ascending = true;
			}
		});

		var getting_there_ascending = false;
		$("#sortable_distance_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_distance_column').css("color", "#0077cf")
			if (getting_there_ascending) {
				$('ul#sortable>li').tsort('span.sortable_distance',{order:'desc'});
				$('#sortable_distance_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Getting There</div>');
				getting_there_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_distance',{order:'asc'});
				$('#sortable_distance_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Getting There</div>');
				getting_there_ascending = true;
			}
		});

		 var eligibility_ascending = false;
		$("#sortable_eligibility_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_eligibility_column').css("color", "#0077cf")
			if (eligibility_ascending) {
				$('ul#sortable>li').tsort('span.sortable_eligibility',{order:'desc'});
				$('#sortable_eligibility_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Eligibility</div>');
				eligibility_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_eligibility',{order:'asc'});
				$('#sortable_eligibility_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Eligibility</div>');
				eligibility_ascending = true;
			}
		});

		 var surround_care_ascending = false;
		$("#sortable_surround_care_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_surround_care_column').css("color", "#0077cf")
			if (surround_care_ascending) {
				$('ul#sortable>li').tsort('span.sortable_surround_care',{order:'desc'});
				$('#sortable_surround_care_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Surround Care</div>');
				surround_care_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_surround_care',{order:'asc'});
				$('#sortable_surround_care_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Surround Care</div>');
				surround_care_ascending = true;
			}
		});

		var hours_ascending = false;
		$("#sortable_hours_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_hours_column').css("color", "#0077cf")
			if (hours_ascending) {
				$('ul#sortable>li').tsort('span.sortable_hours',{order:'desc'});
				$('#sortable_hours_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">School Hours</div>');
				hours_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_hours',{order:'asc'});
				$('#sortable_hours_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">School Hours</div>');
				hours_ascending = true;
			}
		});

		var fit_ascending = false;
		$("#sortable_fit_column").click(function(){
			$('.column_arrow').hide();
			$('.sortable_column').css("color", "#565656")
			$('#sortable_choice_order_column').css("color", "#565656")
			$('#sortable_fit_column').css("color", "#0077cf")
			if (fit_ascending) {
				$('ul#sortable>li').tsort('span.sortable_fit',{order:'desc'});
				$('#sortable_fit_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Your Fit</div>');
				fit_ascending = false;
			} else {
				$('ul#sortable>li').tsort('span.sortable_fit',{order:'asc'});
				$('#sortable_fit_column').html('%div{aria: {hidden: 'true'}, class: "column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Your Fit</div>');
				fit_ascending = true;
			}
		});*/

	});
