<div class="content_wrap search">
	<%= render partial: 'schools/account_tab' %>

	<div class="search_header">
		<div class="title_bloc">
			<h1>Welcome to Boston Public Schools Registration</h1>
			<img class="logo_beta" src="/assets/logo_beta.png" alt="beta"/>
		</div>
		<p class="yellow-buttons"><%= auto_link(TextSnippet.find('home-intro').text) %></p>
	</div>
	<div class="search_section_content "> 
	 
		<!-- ADD CLASS "RIGHT" TO MOVE THE TODAY INDICATOR TO RIGHT OF THE TIME LINE, OR "LEFT" TO MOVE TO THE LEFT  FOR LARGEUR OF TABLET SIZE -->
		<!-- AND change the top % to ajust the today up or down -->
		<!--
			<div class="today right" style="top:58%;">
				<span aria-hidden="true" class="right icon-DBPS-Dev-Assets-SRG-30"></span>&nbsp; Today &nbsp;<span aria-hidden="true" class="left icon-DBPS-Dev-Assets-SRG-32"></span>
				<span class="yello_line"></span>
			</div>	 
			-->			
			<!-- END today indicator-->
		
			<!-- Discover section -->
		<section class="search_section first">
			<div class="content_left">					
				<div class="logo discover" >
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
				</div>
				<div class="text">
					<p class="yellow-buttons"><%= auto_link(TextSnippet.find('home-discover-intro').text) %></p>

					<% if current_user_students.present? %>
						<p class="K">Please select from your previous searches:</p>
						<ul class="horizontal_list">
							<% for student in current_user_students %>
								<li><%= link_to student.tab_name, schools_path(student: student.id), class: 'orange_button previous_student_search_button' %></li>
							<% end %>
							<li><%= button_to 'Clear Searches', {controller: 'students', action: 'delete_all', student_ids: current_user_students.collect {|x| x.id}}, method: :delete, id: 'delete_students_button', class: 'antialiased_button', confirm: 'Are you sure you want to clear all of your previous searches?' %></li>
						</ul>
						<div class='clr'></div>
						<% if flash[:alert].present? %>
							<p style='color: red;'><%= flash[:alert] %></p>
						<% else %>
							<p class="K"><br />Or search for a new student using the form below (grade level is for the entering grade; name is optional):</p>							
						<% end %>
					<% else %>
						<% if flash[:alert].present? %>
							<p style='color: red;'><%= flash[:alert] %></p>
						<% else %>
							<p class="K">To get started, enter your home address and your student's name and grade level in the form below (name is optional):</p>
						<% end %>
					<% end %>
						<div class="desktop_tablet">
							<%= form_tag students_path, method: :post, remote: true do %>
							<!-- Address and zip info -->
								<%= render partial: 'schools/home_search_form', locals: {sibling_search: true} %>
							<% end %>
						</div>
						<div class="mobile_only">
							<%= form_tag students_path, method: :post, remote: false do %>
							<!-- Address and zip info -->
								<%= render partial: 'schools/home_search_form', locals: {sibling_search: true} %>
							<% end %>
						</div>
				</div>

								 
			</div>
			<%= render partial: 'schools/vertical_timeline' %>

		</section>
		<!-- END Discover section -->
		
		<!-- REgister section -->
		<section class=" search_section second">
							
			<div class="content_left">
				<div class="logo register" >
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-02"></span>
				</div>
				<div class="text">
					<p class="yellow-buttons"><%= auto_link(TextSnippet.find('home-register-intro').text) %></p>
					<a class="K" href="http://www.bostonpublicschools.org/register" title="Learn more"  style="margin-bottom:0;" target="_blank">Learn more</a>
				</div>
			</div>
			<!-- timeline info of Register -->
			<div class="content_right">
				<span class="event" style="margin-bottom:39px;">
					<span class="desktop">
						 Jan 6<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--><img class="point" src="/assets/red_point.png" /><br/>
						 <span class="W"> Registration begins</span><br/>
							for K, 6 9
							<br />
							(All other grades: Feb 5th)
						</span>
						<span class="tablette">
							<img class="point_arrow" src="/assets/blue_point_arrow.png" />
						</span>
						
					</span>
					<span class="event Y">
						<span class="desktop">
							Mar - Jul<br/>
						<span class="W">Assignments mailed</span>
					</span>
				</span>
			</div>
			<!--END timeline info of Register -->
		</section>
		<!-- END REgister section -->
		
		<!-- Succeed section -->
		<section class="search_section third">				
			<div class="content_left">
				
				<div class="logo succeed" >
					<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-03"></span>
				</div>
				<div class="text">
					<p class="yellow-buttons"><%= auto_link(TextSnippet.find('home-succeed-intro').text) %></p>
					<a class="K" href="http://www.bostonpublicschools.org/transitionsupport" title="Explore" style="margin-bottom:0;" target="_blank">Explore</a>
				</div>
									
			</div>
			<!--END timeline info of Register -->
			
			<!-- timeline info of Succeed -->
			<div class="content_right">
				
				<span class="event">
					<span class="desktop">
						Sept 4<!--<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-35"></span>--> <img class="point" src="/assets/blue_point.png" /><br/>
						<span class="W" style="font-size:12px;line-height:15px;">
							First day of school!
						</span>
					</span>
				</span>
				
			</div>
			<!--END timeline info of Succeed -->
			
			<!-- last point with star -->
			<img class="final_point" src="/assets/star_point.png" />
							
		</section>
		<!-- END Succeed section -->
	</div>
</div>