<!-- partials are injected into this dialog box - don't delete -->
<div id='dialog_box' class='dialog_box dialog_box_dicover' style='display:none;'>
</div>


<!-- start timeline -->
<div class="wrap timeline_menu">
	<!-- start timeline -->
	<div class="timeline">
		<div class="months">
			<div class="month">Oct 2013</div>
			<div class="month">Nov</div>
			<div class="month">Dec</div>
			<div class="month">Jan 2014</div>
			<div class="month">Feb</div>
			<div class="month">Mar</div>
			<div class="month">Apr</div>
			<div class="month">May</div>
			<div class="month">Jun</div>
			<div class="month">Jul</div>
			<div class="month">Aug</div>
			<div class="month last">Sep</div>
		</div>	
		
		<div class="day_indicator"  style="left:0%;">
			<span class="text">Today</span>
		</div>
		
		<div class="event_indicator"  style="left:15%;"><span class='icon-DBPS-Dev-Assets-SRG-38'></span></div>
		<div class="event_indicator"  style="left:18%;"><span class='icon_horizontal-event'></span></div>
		<div class="event_indicator"  style="left:46%;"><span class='icon_horizontal-event'></span></div>
		<div class="event_indicator"  style="left:52%;"><span class='icon-DBPS-Dev-Assets-SRG-38'></span></div>
		<div class="event_indicator"  style="left:92%;"><span class='icon_horizontal-event'></span></div>
		
        <div id="registration_contaner">
        	<div id="registration_btn">
            	Registration
            </div>
			<div class="clr"></div>
        	<div class='register_timeline_contaner' style='display:none; '>
				<div class='event_zone' id='regis_1' style='left:0%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_2' style='left:6%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_3' style='left:14%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_4' style='left:22%;'>
					<div class='event your_registration_period'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				<div class='event_zone' id='regis_5' style='left:30%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>
				
				<div class='event_zone' id='regis_6' style='left:45%;'>
					<div class='event'  >
						<div class='box_info' style='display:none;'>
							<div class='triangle'></div>
							<div class='date_event'>Jan 22–25</div>
							<div class='txt_event'>Last names R–Z<br>K, 6, 9 New-Student Registration</div>
							<span>Your registration period</span>
						</div>
					</div>
				</div>

				
			</div>

        </div>
	</div>
	<!-- end timeline -->
	
	<!--  navigation menu desktop and mobile -->
	<section class="content_wrap ">
		<nav class="menu_nav">
			<span id="menu_nav_mobile" aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-25"></span>
			<ul id="menu_items" class='mobile_only'>
				<li class='first'><a href="#" title="">Discover</a></li>
				<li><a href="#" title="">Register</a></li>
				<li><a href="#" title="">Succeed!</a></li>
				<li class='languages_mobile'>
					<a href="#" title="">languages <span data-icon="&#xe003;" aria-hidden="true"></span></a>
					<ul class='list_languages'>
						<li><a href='#' class='language current_language'>English</a></li>
						<li><a href='#' class='language'>Español</a></li>
						<li><a href='#' class='language'>Kreyòl Ayisyen</a></li>
						<li><a href='#' class='language'>??</a></li>
						<li><a href='#' class='language'>Português</a></li>
						<li><a href='#' class='language'>Kriolu Kabuverdianu</a></li>
						<li><a href='#' class='language'>Ti?ng Vi?t</a></li>
						<li><a href='#' class='language'>Français</a></li>
						<li><a href='#' class='language'><span data-icon="&#xe003;" aria-hidden="true"></span> Other</a></li>
					</ul>
				</li>
				<li class='visit'><a href='http://www.BostonPublicSchools.org'>Visit BostonPublicSchools.org</a></li>
			</ul>
			<ul class='no_mobile'>
				<li class="succeed"><a href="#" title=""><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-05"></span></a></li>
				<li class="register"><a href="#" title=""><span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-06"></span></a></li>
			</ul>
		</nav>
		<div class="logo_discover" >
			<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
		</div>
		<div class="clr"></div>
	</section>
	<!-- end navigation menu desktop and mobile -->
	<div class="clr"></div>
</div>

<!-- script for timeline and registration -->
<script>

var is_open_menu_languages_mobile= false;

$(".languages_mobile").click(function() {
		if (is_open_menu_languages_mobile) {
		// Close mobile
		is_open_menu_languages_mobile= false;
		$(".list_languages").css("display", "none");
	 } else {
		// Open mobile
		is_open_menu_languages_mobile= true;
		$(".list_languages").css("display", "block");

	 }
});
var is_open_menu_mobile= false;

$("#menu_nav_mobile").click(function() {

	if (is_open_menu_mobile) {
		// Close mobile
		is_open_menu_mobile= false;
		
		$("#menu_items").animate({
			height: "0"
		  }, 200, function() {
			// Animation complete.
			$(this).css("display", "none");
			$(".menu_nav").width("31px");
			$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
		
		});
	 } else {
		// Open mobile
		$(".menu_nav").width("100%");	
		is_open_menu_mobile= true;
		$("#menu_items").css("display", "block");
		$('#menu_items').css('height', 'auto');
		var autoHeight = $('#menu_items').height();
		$("#menu_items").css("height", "0");
		
		$("#menu_items").animate({
			height: autoHeight
		  }, 200, function() {
			$('#menu_items').css('height', 'auto');
			$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-25" ).addClass( " icon-DBPS-Dev-Assets-SRG-07" );
		});
	 }
});


function initializeRegistrationTimeline() {

	// Ex. (2 1/3) months approximate
	$("#registration_contaner").width(Math.floor((2.333*$(".months .month").outerWidth())));
	
	// Ex. 2 days approximate
	$("#regis_1").width(2*($(".months .month").outerWidth()/30));

	// Ex. 4 days approximate
	$("#regis_2").width(4*($(".months .month").outerWidth()/30));
	$("#regis_3").width(4*($(".months .month").outerWidth()/30));
	$("#regis_4").width(4*($(".months .month").outerWidth()/30));
	$("#regis_5").width(4*($(".months .month").outerWidth()/30));


	$("#regis_6").width(37*($(".months .month").outerWidth()/30));
	

	var arr= jQuery.makeArray($(".months .month"));
	console.log($($(".months .month")[3]).width());

	
	// Set position registration_contaner on 1 January
	// 3 is position January
	var position = $($(".months .month")[3]).position();
	$("#registration_contaner").css("left",position.left)
}


initializeRegistrationTimeline();

window.onresize = function(event) {
	initializeRegistrationTimeline();
	$("#menu_items").css("display", "none");
	$(".menu_nav").width("auto");
	$("#menu_nav_mobile").removeClass( "icon-DBPS-Dev-Assets-SRG-07" ).addClass( " icon-DBPS-Dev-Assets-SRG-25" );
	is_open_menu_mobile= false;
}

$(".event_zone").hover(
	function() {
		// Position the box in the center of the event.
		$(this).find(".box_info").css("left", -( ($(".box_info").outerWidth()/2) - ($(this).width()/2) )+"px");
		$(this).find(".box_info").css("display", "block");
	},
	function () {
		$(this).find(".box_info").css("display", "none");
		
	}
 );

 /*
var is_open_register_contaner= false;
$("#registration_btn").click(function() {
	 if (is_open_register_contaner) {
		// Close contaner
		is_open_register_contaner= false;
		$(".register_timeline_contaner").css("display", "none");
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "80"
		  }, 100, function() {
			// Animation complete.
		  });
	 } else {
		// Open contaner
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "175"
		  }, 100, function() {
			// Animation complete.
		  });
		is_open_register_contaner= true;
		$(".register_timeline_contaner").css("display", "block");
	 }
	 
	 return false;
});*/


$(".timeline").hover(
	function() {
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "175"
		  }, 100, function() {
			// Animation complete.
		  });
		$(".register_timeline_contaner").css("display", "block");
	}, 
	function() {
		$(".register_timeline_contaner").css("display", "none");
		$(".wrap.timeline_menu .timeline").stop(true, true).animate({
			height: "80"
		  }, 100, function() {
			// Animation complete.
		  });
	}
);
</script>
<!-- END script for timeline and registration -->

<!-- End timeline -->
<!-- start google map -->
<div class="wrap global_map">
	<section class="content_wrap">
			<%= render partial: 'schools/account_tab' %>		
	</section>
	<%= render partial: 'schools/map', locals: {schools: @eligible_schools, map_controls: true} %>
</div>

<!-- start bar list children -->
<div class="wrap">
	<!-- menu with compare button, student's name button and add_child button -->
	<div class="menu_compare_name ">
		<div class="flexible_content" style="width:100%;">
			<div class="compare" style="visibility:hidden;">
				Compare your lists:
			</div>
			<div class="name_list">
				<% for student in @students %>
					<%= render partial: 'schools/student_tab', locals: {student: student} %>
				<% end %>
			</div>	
			<div class="add_child" >
				+ Add a child
			</div>
			<script>
				$(".add_child").click(function(){
			  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/dialog_boxes/address_search') %>");
			  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
			  	$('#dialog_box').show();
			  	return false;
				});
			</script>
			
			<div class="clr"></div>
		</div>
		
	</div>
	<!-- END menu with compare button, student's name button and add_child button -->

</div>
<!-- end bar list children -->


<div class="wrap">
	<div data-icon="&#xe001;" aria-hidden="true" class='arrow_slide no_mobile'></div>

	<div class="result">
		<%= render partial: 'schools/preference_panel' %>

		<!-- preferences list-->
		<div id="school_list">
		
			<!-- shadow on the left show when list move on the left.  Display none in normal situation-->
			<div class="shadow" style="display: none;"></div>
			<!-- END shadow-->
				
				<!-- listing of schools  -->
				<div class="list_content">
				
					<!-- ajust the div width when "getting there" and/or "Your fit" glass_icon is clic (to create left and right draggable effect of the school list)  -->	
					<div class="flexible_content" style="width:2000px;">
						<!-- school list header -->
						<div class="menu_list">
							<div class="li_frame">
								<div class="arrow menu_bloc">
									<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-31"></span>
								</div>
								<div id="sortable_choice_order_button" class="choice menu_bloc sortable_column">
									School Name
								</div>
								
								<!-- add class "open" to show "Walk time" and "Drive time"-->
								<div id="getting_there" class=" menu_bloc ">
									<div id="sortable_distance_button" class="first_block sortable_column">
										Getting There 
									</div>
									<div class="second_block sortable_column">
										Walk Time
									</div>
									<div class="second_block sortable_column">
										Drive Time
									</div>
									<span aria-hidden="true" class="glass_open icon-DBPS-Dev-Assets-SRG-24"></span>
									<span aria-hidden="true" class="glass_close icon-DBPS-Dev-Assets-SRG-23"></span>
								</div>
								<div id="sortable_hours_button" class=" menu_bloc sortable_column">
									School Hours
								</div>
								<div class=" menu_bloc sortable_column">
									Surround Care
								</div>
								<div class="your_fit menu_bloc sortable_column">
									<span aria-hidden="true" class="arrow icon-DBPS-Dev-Assets-SRG-31"></span> Your Fit 
									<span aria-hidden="true" class="glass_open icon-DBPS-Dev-Assets-SRG-24"></span>
								</div>
								<div class="your_fit_show menu_bloc sortable_column">
										Enrollement
								</div>
								<div class="your_fit_show menu_bloc active sortable_column">
										Arts Focus
								</div>
								<div class="clr"></div>
							</div>
						</div>
						<!-- END school list header -->
						
						<!-- School listing -->
						<ul id="sortable">
							</li>
							<% @eligible_schools.each_with_index do |school, i| %>
								<%= render partial: 'schools/school', locals: {school: school, index: i} %>
							<% end %>
						</ul>
						<!-- END School listing -->
					</div>
					
					
				</div>
				<!-- END  listing of schools  -->
				
				<!-- info box at the end of listing -->
				<div class="footer_list">
					<div class="footer_left">
						<p style="color:#000;margin-bottom: 1.6em;">Next Steps</p>
						<p>Once your student’s list of schools has been sorted in the order of your choosing, registration begins by submitting the list and visiting a Welcome Center.</p>
						<p style="color:#000;">How to register:</p>
						<p><a href="" title="Pre-Register Online">Pre-Register Online</a></p>
						<p><a href="" title="Collect the required documents">Collect the required documents</a></p>
						<p><a href="" title="Plan a visit to a Welcome Center">Plan a visit to a Welcome Center</a></p>
					</div>
					<div class="footer_right">
						<p style="color:#000;margin-bottom: 1.6em;">Need to think it over?</p>
						<p>My lists</p>
						<p><%= link_to 'Download', schools_path(format: :csv) %></p>
						<p><a href="/schools/print" title="Print">Print</a></p>
						<p><a href="" title="Share via email">Share via email</a></p>
						<p><a href="" title="Save">Save</a></p>
						<br/>
						<p>Account</p>
						<p><a href="#" id="sign_up_button" title="Sign Up">Sign Up</a></p>
						<p><a href="#" id="login_button" title="Login">Login</a></p>
					</div>
					<div class="clr"></div>
				</div>
				<!-- END info box at the end of listing -->

			</div>
					
		</div>
	</div>
</div>
<script>
	$( document ).ready(function() {
		//Click on school name to open the full school description in the school line
		$("#school_list li .li_frame > .school_name").click(
			function() {
			$(this).parent().parent().addClass("descrip_open");
			$(this).parent().parent().find(".school_descrip").toggle();
			}
		);
		
		//Getting there button to show more(titles and descrip of each school lines)
		$("#getting_there .glass_open").click(function(){
			$("#getting_there").addClass("open");
			$("#sortable .getting_there").addClass("open");
		})
		
		//Getting there button to close the extra info about Getting there
		$("#getting_there .glass_close").click(function(){
			$("#getting_there").removeClass("open");
			$("#sortable .getting_there").removeClass("open");
		})
		
		//Your fit button to show the different fits added, add class open in the menu and each line of the list to display the titles and the description of each fit
		$(".your_fit .glass_open").click(function(){
			$(".your_fit_show").addClass("open");
			$(".your_fit_descrip").addClass("open");
		})
		
		//compare button => add class to compare_list, close school list and preferences, and show the comparaison list
		/*$(".menu_compare_name .compare").click(function(){
			
			$(this).parent().addClass("compare_action");
			$("#school_list").css("display","none");
			$(".preferences").css("display","none");
			$("#compare_list").css("display","block");
			
			
		})*/
		
		//btn close preference choice in tablet size
		$(".header_preferences #hide_btn").click(function(){
			
			//$("#preference_content").css("display","none");
			//$(".header_preferences #hide_btn").css("display","none");
			//$(".header_preferences #show_btn").css("display","inline-block");
			$(".preferences").addClass("hide");
		})
		//btn show preference choice in tablet size
		$(".header_preferences #show_btn").click(function(){
			
			//$("#preference_content").css("display","block");
			//$(".header_preferences #hide_btn").css("display","inline-block");
			//$(".header_preferences #show_btn").css("display","none");
			$(".preferences").removeClass("hide");
		})

		$("#sign_up_button").click(function(){
	  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/account_signup_panel') %>");
	  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
	  	$('#signup_panel').show();
	  	$('#dialog_box').show();
	  	return false;
		});

		$("#login_button").click(function(){
	  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/account_login_panel') %>");
	  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
	  	$('#login_panel').show();
	  	$('#dialog_box').show();
	  	return false;
		});

		$(function() {
	    $( "#sortable" ).sortable();
	    $( "#sortable" ).disableSelection();
	  });

	  var choice_order_ascending = false;
	  $("#sortable_choice_order_button").click(function(){
	  	if (choice_order_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_school_name',{order:'desc'});
	  		choice_order_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_school_name',{order:'asc'});
	  		choice_order_ascending = true;
	  	}
	  });

	  var getting_there_ascending = false;
	  $("#sortable_distance_button").click(function(){
	  	if (getting_there_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_distance',{order:'desc'});
	  		getting_there_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_distance',{order:'asc'});
	  		getting_there_ascending = true;
	  	}
	  });

	  var hours_ascending = false;
	  $("#sortable_hours_button").click(function(){
	  	if (hours_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_hours',{order:'desc'});
	  		hours_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_hours',{order:'asc'});
	  		hours_ascending = true;
	  	}
	  });
	});
</script>
