<div class="wrap global_map">
	<%= render partial: 'schools/map', locals: {students_list: [current_student], school: @school, map_controls: false, width: '100%'} %>

	<div class="menu_student_info " style="position: absolute; z-index: 10; margin-top: 273px;">
		<div class="name_list">
			<div class="name_info active" id="name_1">
				<span class="name"><%= current_student.first_name %> <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span> </span>
				<span class="grade">Grade<br/><span class="number"><%= current_student.grade_level %></span></span>
				<div class="clr"></div>
			</div>
		</div>	
			
		<div class="clr"></div>		
	</div>
	<!-- END students menu -->

	<div class="clr"></div>
</div>
<div class="wrap result">
	
	<!-- preferences menu side bar for shool listing -->
	<div class="preferences">
		<!-- preferences list for desktop and tablet situation -->
		<div id="preference_content">
			<div class="colonn">
				
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	<!-- preferences list-->
	<!-- school listing with menu -->
	<div id="school_list">
		<div class="flexible_content" >

			<div style="margin-top: 20px; ">
				<h1><%= @school.name %></h1>
				<br />
				<p style="font-family: georgia; font-size: 14px;"><%= @school.api_description.try(:[], :schoolspecial) %></p>
			</div>

			<div class="desktop" style="clear: top;">
				<div class="box">
					<p class="title"><%= @school.api_basic_info.try(:[], :campus1address1) %>, <%= @school.api_basic_info.try(:[], :campus1city) %> <%= @school.api_basic_info.try(:[], :campus1zip) %></p>
					<br />
					<p>
						<% if @school.api_basic_info.try(:[], :SchLink).present? %>
							<%= link_to 'School Website', @school.api_basic_info.try(:[], :SchLink), class: "text_B0", title: "School Website", target: "_blank" %>
							<br/>			
						<% end %>
						<%= mail_to @school.api_basic_info.try(:[], :schemail), @school.api_basic_info.try(:[], :schemail), class: "text_B0", title: "Email Address" %>
					</p>
					<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"></span> <%= raw @student_school.distance %> mi from home</p>
					<p class="descrip">
						<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-14"></span> <%= raw @student_school.walk_time %> <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span><br/>
						<span aria-hidden="true" class="icon_petit icon-DBPS-Dev-Assets-SRG-17"></span> <%= raw @student_school.drive_time %> <span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-18"></span>
					</p>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"></span> School hours</p>
						<p class="descrip"><%= @school.api_hours.try(:[], :schhours1) %></p>
					</div>

					<% if NON_TRANSITION_GRADES.include?(current_student.grade_level) %>
						<% if @school.api_basic_info.try(:[], :BeforeSchPrograms).present? || @school.api_basic_info.try(:[], :AfterSchPrograms).present? %>
							<div class="box">
								<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_surroundcare"></span> Surround care </p>

								<p class="descrip">
									<% if @school.api_basic_info.try(:[], :BeforeSchPrograms).present? %>
										<span class="text_G1">Before:</span> <%= @school.api_basic_info.try(:[], :BeforeSchPrograms) %><br /><br />
									<% end %>
									<% if @school.api_basic_info.try(:[], :AfterSchPrograms).present? %>
										<span class="text_G1">After:</span> <%= @school.api_basic_info.try(:[], :AfterSchPrograms) %>
									<% end %>
								</p>
							</div>
						<% end %>
					<% end %>


					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"></span> School Type</p>
						<p class="descrip"><%= @school.api_basic_info.try(:[], :SchoolType) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"></span> Grades Offered</p>
						<p class="descrip"><%= grade_levels_helper(@school.grade_levels) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"></span> Enrollment</p>
						<p class="descrip"><%= @school.api_basic_info.try(:[], :SchSize) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"></span> Eligibility</p>
						<p class="descrip"><%= @student_school.eligibility %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"></span> Special Application</p>
						<p class="descrip"><%= special_application_helper(@school.api_description.try(:[], :isspecialappprocedures)) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"></span> Advanced Work Class (AWC)</p>
						<p class="descrip"><%= awc_helper(@school.api_basic_info.try(:[], :IsAWC)) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"></span> MCAS Tier</p>
						<p class="descrip"><%= school_tier_helper(@student_school.tier) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"></span> Uniform Policy</p>
						<% if @school.api_description.try(:[], :uniformpolicydesc).present? %>
							<p class="descrip"><%= @school.api_description.try(:[], :uniformpolicydesc) %></p>
						<% else %>
							<p class="descrip"><%= @school.api_description.try(:[], :uniformpolicy) %></p>
						<% end %>
					</div>

					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"></span> School Focus</p>
						<p class="descrip"><%= @school.api_description.try(:[], :schfocus) %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"></span> Health & Wellness</p>
						<p class="descrip"><%= @school.api_basic_info.try(:[], :ishasfulltimenurse) == 'True' ? 'Full-Time Nurse' : '' %></p>
					</div>
					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"></span> Community Partners</p>
						<p class="descrip"><%= partners_list_helper(@school.api_partners) %></p>
					</div>

					<div class="box">
						<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"></span> Facility Features</p>
						<p class="descrip"><%= facilities_list_helper(@school.api_facilities) %></p>
					</div>
					<% if UPPER_GRADES.include?(current_student.grade_level) %>
						<div class="box">
							<p class="title"><span aria-hidden="true" class="fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"></span> Sports</p>
							<p class="descrip"><%= sports_list_helper(@school.api_sports) %></p>
						</div>
					<% end %>
				</div>
			</div>

			
		</div>
					
	</div>
	<!--END school listing with menu -->

	
</div>
