.wrap.global_map{style: 'margin-top: 30px; padding: 0px;'}
	= render partial: 'layouts/schools/map', locals: {students_list: [current_student], school: @school, map_controls: false, width: '100%'}

.wrap.result{style: 'color: #222222;'}
	#school_list
		.flexible_content
			%div{style: 'padding: 10px 0 12px 0; '}
				%div{style: 'float: right;'}
					%h2
						Grade #{current_student.grade_level}
				%h1{style: 'margin-bottom: 5px;'}
					= current_student.full_name
				%h3
					#{current_student.full_address}

			%div{style: "margin-top: 20px;"}
				%h1
					= @school.name
				%br/
				%p{class: 'light', style: "font-size: 12px;"}
					= @school.api_description.try(:[], :schoolspecial)

			%div{class: "desktop", style: "clear: top;"}
				.box
					%h3
						#{@school.api_basic_info.try(:[], :campus1address1)}, #{@school.api_basic_info.try(:[], :campus1city)} #{@school.api_basic_info.try(:[], :campus1zip)}
					%br/
					%p
						- if @school.api_basic_info.try(:[], :SchLink).present?
							= link_to 'School Website', @school.api_basic_info.try(:[], :SchLink), class: "text_B0", title: "School Website", target: "_blank"
							%br/

						= mail_to @school.api_basic_info.try(:[], :schemail), @school.api_basic_info.try(:[], :schemail), class: "text_B0", title: "Email Address"

					- if @student_school.try(:walk_distance).present?  && @student_school.walk_distance.strip != '0.00'
						%p.title
							%span{aria: {hidden: 'true'}, class: "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"}
							= raw @student_school.try(:walk_distance)
							mi from home
					-else
						%p.title
							%span{aria: {hidden: 'true'}, class: "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"}
							= raw @student_school.try(:distance)
							mi from home		

					%p.descrip.light
						- if @student_school.try(:walk_time).present?
							%span{aria: {hidden: 'true'}, class: "icon_petit icon-DBPS-Dev-Assets-SRG-14"}
								= raw @student_school.try(:walk_time)
								%span{aria: {hidden: 'true'}, class: "icon-DBPS-Dev-Assets-SRG-18"}
								%br/
						- if @student_school.try(:drive_time).present?
							%span{aria: {hidden: 'true'}, class: "icon_petit icon-DBPS-Dev-Assets-SRG-17"}
								= raw @student_school.try(:drive_time)
								%span{aria: {hidden: 'true'}, class: "icon-DBPS-Dev-Assets-SRG-18"}


					- if preview_dates_list_helper(@school).present?
						.box
							%p.title
								%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"}
								Preview Dates
							%p.descrip.light
								- preview_dates_list_helper(@school).each do |date|
									•
									= date
									%br/
					.box
						%p.title
							%span{aria: {hidden: 'true'}, class: "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"}
							School hours
						%p.descrip.light
							= @school.api_hours.try(:[], :Description)

					.box
						%p.title
							%span{aria: {hidden: 'true'}, class: "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_surroundcare"}
							Surround care

						%p.descrip.light
							- if @school.api_surround_care.try(:[], :BeforeSchPrograms).present?
								%span.text_G1
								Before:

								= @school.api_surround_care.try(:[], :BeforeSchPrograms)
								%br/
								%br/

							- if @school.api_surround_care.try(:[], :AfterSchPrograms).present?
								%span.text_G1
								After:

								= @school.api_surround_care.try(:[], :AfterSchPrograms)


					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"}
							Grades Offered
						%p.descrip.light
							= grade_levels_helper(@school.grade_levels)

					.box
						- if TRANSITION_GRADES.include?(current_student.grade_level)
							%p.title
								%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
								= "#{current_student.formatted_grade_level_name} Demand (#{current_school_year_range})"
							%p.descrip.light
								= @school.open_seats(current_student.grade_level)
								open seats
								%br/
								= @school.applicants(current_student.grade_level)
								applicants
								%br/
								= @school.applicants_per_open_seat(current_student.grade_level, last_school_year)
								applicants/open seat
							.max_range
								%div{class: 'ajust_range', style: "margin-left: 0; margin-right: 50%;"}

						%p.title
							- unless TRANSITION_GRADES.include?(current_student.grade_level)
								%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
							School Size
						%p.descrip.light
							= @school.api_basic_info.try(:[], :SchSize)

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"}
							Eligibility
						%p.descrip.light
							= @student_school.try(:eligibility)
							%br/
							%b Distance:
							%span{:aria => {hidden: 'true'}}
							= raw @student_school.distance
							mi
							%br/

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"}
							Special Application
						%p.descrip.light
							= special_admissions_helper(@school.api_description.try(:[], :isspecialappprocedures))

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"}
							Advanced Work Class (AWC)
						%p.descrip.light
							= awc_helper(@school.api_basic_info.try(:[], :IsAWC))

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"}
							Quality
						%p.descrip.light
							SQF Tier -
							= school_tier_helper(@student_school.tier)				
							- if school_validtier_helper(@student_school.tier)
								= link_to "View Quality Report", sqf_helper_string(@school.bps_id), target: "_blank", class: "text_B0"
							%br
							DESE Level -
							= school_tier_helper(@student_school.dese_tier)				
							- if school_validtier_helper(@student_school.dese_tier)
								= link_to "More Info", "http://www.bostonpublicschools.org/schoolquality", target: "_blank", class: "text_B0"

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"}
							Uniform Policy
						- if @school.api_description.try(:[], :uniformpolicydesc).present?
							%p.descrip.light
								= @school.api_description.try(:[], :uniformpolicydesc)
						- else
							%p.descrip.light
								= @school.api_description.try(:[], :uniformpolicy)

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"}
							School Focus
						%p.descrip.light
							= @school.api_description.try(:[], :schfocus)

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
							Programs
						%p.descrip.light
							= programs_list_helper(@school).try(:join, ', ')

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"}
							Facility Features
						%p.descrip.light
							= facilities_list_helper(@school).try(:join, ', ')

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"}
							Student Support
						%p.descrip.light
							=raw student_support_list_helper(@school).try(:join, ', ')

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"}
							Sports
						%p.descrip.light
							= sports_list_helper(@school).try(:join, ', ')

					.box
						%p.title
							%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"}
							Community Partners
						%p.descrip.light
							= partners_list_helper(@school).try(:join, ', ')
