.wrap.global_map{style: 'margin-top: 30px; padding: 0px;'}
  = render partial: 'schools/page_elements/map', locals: {students_list: [current_student], school: nil, map_controls: false, width: '100%'}

.wrap.result
  #school_list{style: 'padding-top: 0px; color: #222222;'}
    .list_content
      .flexible_content
        %div{style: 'padding: 20px 0 12px 0; '}
          %div{style: 'float: right;'}
            %h2
              Grade #{current_student.grade_level}
          %h1{style: 'margin-bottom: 5px;'}
            = current_student.full_name
          %h3
            #{current_student.full_address}

        - if @home_schools.present?
          = render partial: 'schools/print/home_schools', locals: {schools: @home_schools}

        - if @zone_schools.present?
          = render partial: 'schools/print/zone_schools', locals: {schools: @zone_schools}

        - if @ell_schools.present?
          = render partial: 'schools/print/ell_schools', locals: {schools: @ell_schools}

        - if @sped_schools.present?
          = render partial: 'schools/print/sped_schools', locals: {schools: @sped_schools}
