<div class="wrap timeline_menu">
	<!--  navigation menu desktop and mobile -->
	<section class="content_wrap ">
		<div class="logo_discover" >
			<span aria-hidden="true" class="icon-DBPS-Dev-Assets-SRG-01"></span>
		</div>
		<div class="clr"></div>
	</section>
	<!-- end navigation menu desktop and mobile -->
	<div class="clr"></div>
</div>

<!-- script for timeline and registration -->

<div class="wrap global_map">
	<%= render partial: 'schools/map', locals: {students_list: [current_student], map_controls: false, width: '100%'} %>

	<div class="menu_student_info " style="position: absolute; z-index: 10; margin-top: 273px;">
		<div class="name_list">
			<div class="name_info active" id="name_1">
				<span class="name"><%= current_student.first_name %> <span aria-hidden="true" class="indicator icon-DBPS-Dev-Assets-SRG-08"></span> </span>
				<span class="grade">Grade<br/><span class="number"><%= current_student.grade_level %></span></span>
				<div class="clr"></div>
			</div>
		</div>	
			
		<div class="clr"></div>		
	</div>
	<!-- END students menu -->

	<div class="clr"></div>
</div>
<div class="wrap result">
	
	<!-- preferences menu side bar for shool listing -->
	<div class="preferences">
		<!-- preferences list for desktop and tablet situation -->
		<div id="preference_content">
			<div class="colonn">
				
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	<!-- preferences list-->
	<!-- school listing with menu -->
	<div id="school_list">
		<div class="shadow"></div>
		<div class="list_content">	
			<div class="flexible_content" >
				<!-- listing menu-->
				<div class="menu_list">
					<div class="li_frame">
						<div class="choice menu_bloc" style="width: 193px;">
							School Name
						</div>
						<div id="getting_there" class=" menu_bloc ">
							<div class="first_block">
								Address 
							</div>
							
						</div>
						<div class=" menu_bloc">
							School Hours
						</div>
						<div class=" menu_bloc">
							Grades
						</div>
						<div class="clr"></div>
					</div>
				</div>
				<!--END listing menu-->
				
				
				<!-- school listing-->
				<ul id="sortable">
					<% @home_schools.each_with_index do |student_school, i| %>
						<% school = student_school.school %>
						<li id="list_<%= i %>" class="ui-state-default ">
							<div class="li_frame">
								<div class="school_name select line">
									<span class="middle">
										<%= school.api_basic_info.try(:[], :schname_23) %>
										<% if current_student.sibling_school_id == school.bps_id %>
											<span aria-hidden="true" class="select_icon icon-DBPS-Dev-Assets-SRG-12"></span>
										<% end %>
									</span>
								</div>
								<div class="box line getting_there ">
									<div class="first_block middle">
										
										<span class="middle"><%= school.api_basic_info.try(:[], :campus1address1) %><br /><%= school.api_basic_info.try(:[], :campus1city) %> <%= school.api_basic_info.try(:[], :campus1zip) %><br /></span>
									</div>
										
									
								</div>
								<div class="box line school_hours">
									<span  class="middle"> <%= truncate(school.api_hours.try(:[], :schhours1), length: 18) %><br/>
										<div class="max_range">
											<div class="ajust_range" style="margin-left:<%= school_hours_start_time_helper(school.api_hours.try(:[], :schhours1)) %>%;margin-right:<%= school_hours_end_time_helper(school.api_hours.try(:[], :schhours1)) %>%;">
											</div>
										</div>
									</span>
								</div>
								<div class="box line surround_care">
									<span class="middle"><%= grade_levels_helper(school.grade_levels) %></span>
								</div>
								<div class="clr"></div>
								
							</div>
								<!--END  School information -->
							
						</li>
					<% end %>
											
				</ul>
				<!--end school listing-->
			</div>
			
		</div>
		
	</div>
	<!--END school listing with menu -->

	
</div>
