= render partial: 'schools/page_elements/header', locals: {page_step: 3}

.wrap
  = render partial: 'schools/page_elements/student_tabs'

.wrap.global_map
  = render partial: 'schools/page_elements/map', locals: {students_list: current_user_students, school: nil, map_controls: true, height: 'resize', width: '100%'}

.wrap.compare_lists
  = render partial: 'schools/page_elements/school_list_tabs'

#compare_list.compare_list.wrap

  .result.clearfix
    -# LEFT COLUMN
    -# ----------------------------------------------
    .labels.column_left.column
      .labels_frame


    = render partial: 'schools/rank/home_schools'
    = render partial: 'schools/rank/zone_schools'
    = render partial: 'schools/rank/ell_schools'
    = render partial: 'schools/rank/sped_schools'

  = render partial: 'schools/page_elements/footer'

:javascript

  $(function() {
    $("#sortable_0").disableSelection();
    $('.compare_list_content').tooltip({
      track: true,
      hide: {
        duration: 0
      }
    });
  });

  $(function() {
    $("#sortable_0").sortable({
      axis: "x",
      scroll: true,
      sort: function( event, ui ) {
        $('.compare_list_content').tooltip('close');
      },
      update: function(){
        $('#sortable_0 li').each(function(){
          $(this).find('.sortable_row_number').html($(this).index() + 1);
        });
        $.ajax({
          url: '/student_schools/sort',
          type: 'post',
          data: $('#sortable_0').sortable('serialize'),
          dataType: 'script'
        });
      }
    });
    $("#sortable").disableSelection();
  });
