
<%= render partial: 'schools/horizontal_timeline' %>

<!-- start google map -->
<div class="wrap global_map">
	<section class="content_wrap">
			<%= render partial: 'schools/account_tab' %>		
	</section>
	<%= render partial: 'schools/map', locals: {students_list: [current_student], school: nil, map_controls: true, resize: true, width: '100%'} %>
</div>

<!-- start bar list children -->
<div class="wrap">
	<!-- menu with compare button, student's name button and add_child button -->
	<div class="menu_compare_name ">
		<div class="flexible_content" style="width:100%;">
			<div class="compare">
				Compare your lists:
			</div>
			<div class="name_list">
				<% current_user_students.each_with_index do |student, i| %>
					<%= render partial: 'schools/student_tab', locals: {student: student} %>
				<% end %>
			</div>	
			<div class="add_child" >
				+ Add a child
			</div>
			<script>
				$(".compare").click(function(){
					document.location.href='/schools/compare';
			  	return false;
				});
				$(".add_child").click(function(){
			  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/dialog_boxes/address_search') %>");
			  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
			  	$('#dialog_box').show();
			  	return false;
				});
			</script>
			
			<div class="clr"></div>
		</div>
		
	</div>
	<!-- END menu with compare button, student's name button and add_child button -->

</div>
<!-- end bar list children -->


<div class="wrap">
	<div data-icon="&#xe001;" aria-hidden="true" class='arrow_slide no_mobile'></div>
	<script>
		$( window ).resize(function() {
			if ($(window).width() > 1480) {
				$('.arrow_slide').hide();
			} else {
				$('.arrow_slide').show();
			}		
		});
	</script>
	<div class="result">
		<%= render partial: 'schools/preference_panel' %>

		<!-- preferences list-->
		<div id="school_list">
				<!-- listing of schools  -->
				<div class="list_content">
				
					<!-- ajust the div width when "getting there" and/or "Your fit" glass_icon is clic (to create left and right draggable effect of the school list)  -->	
					<div class="flexible_content" style="width:1220px;">
						<!-- school list header -->
						<div class="menu_list">
							<div class="li_frame">
								<div id="sortable_choice_order_column" class="arrow menu_bloc desktop no_mobile">
									<div aria-hidden="true" id="choice_order_arrow" class="icon-DBPS-Dev-Assets-arrow-up"></div>
								</div>
								<div id="sortable_school_name_column" class="menu_bloc sortable_column">
									<div class="column_title">School Name</div>
								</div>
								
								<!-- add class "open" to show "Walk time" and "Drive time"-->
								<div id="getting_there" class=" menu_bloc ">
									<div id="sortable_distance_column" class="first_block sortable_column">
										<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Getting There</div>
									</div>
									<div class="second_block sortable_column">
										<div class="column_title">Walk Time</div>
									</div>
									<div class="second_block sortable_column">
										<div class="column_title">Drive Time</div>
									</div>
								</div>
								<div id="eligibility" class=" menu_bloc ">
									<div id="sortable_eligibility_column" class="first_block sortable_column">
										<div class="column_title">Eligibility</div>
									</div>
								</div>
								<div id="sortable_hours_column" class="menu_bloc sortable_column">
									<div class="column_title">School Hours</div>
								</div>
								<% if SURROUND_CARE_GRADES.include?(current_student.grade_level) %>
									<div id="sortable_surround_care_column" class=" menu_bloc sortable_column">
										<div class="column_title">Surround Care</div>
									</div>
								<% end %>
								<div id="sortable_fit_column" class=" menu_bloc sortable_column">
									<div class="column_title">Your Fit</div>
								</div>
								<div class="clr"></div>
							</div>
						</div>
						<!-- END school list header -->
						
						<!-- School listing -->
						<ul id="sortable">
							<% @zone_schools.each_with_index do |student_school, i| %>
								<li id="<%= current_student.id %>_<%= student_school.school.bps_id %>" class="small_list_row">
									<%= render partial: 'schools/school', locals: {student_school: student_school, school: student_school.school, index: i} %>
								</li>
							<% end %>
						</ul>
						<!-- END School listing -->
					</div>
					
					
				</div>
				<!-- END  listing of schools  -->
				
				<%= render partial: 'schools/footer' %>

			</div>
					
		</div>
	</div>
</div>

<script>
	$( document ).ready(function() {
		//Click on school name to open the full school description in the school line
		$("#school_list li .li_frame > .school_name").click(
			function() {
			$(this).parent().parent().addClass("descrip_open");
			$(this).parent().parent().find(".school_descrip").toggle();
			}
		);
		
		//Getting there button to show more(titles and descrip of each school lines)
		$("#getting_there .glass_open").click(function(){
			$("#getting_there").addClass("open");
			$("#sortable .getting_there").addClass("open");
		})
		
		//Getting there button to close the extra info about Getting there
		$("#getting_there .glass_close").click(function(){
			$("#getting_there").removeClass("open");
			$("#sortable .getting_there").removeClass("open");
		})
		
		//Your fit button to show the different fits added, add class open in the menu and each line of the list to display the titles and the description of each fit
		$(".your_fit .glass_open").click(function(){
			$(".your_fit_show").addClass("open");
			$(".your_fit_descrip").addClass("open");
		})
		
		//compare button => add class to compare_list, close school list and preferences, and show the comparaison list
		/*$(".menu_compare_name .compare").click(function(){
			
			$(this).parent().addClass("compare_action");
			$("#school_list").css("display","none");
			$(".preferences").css("display","none");
			$("#compare_list").css("display","block");
			
			
		})*/
		
		//btn close preference choice in tablet size
		$(".header_preferences #hide_btn").click(function(){
			
			//$("#preference_content").css("display","none");
			//$(".header_preferences #hide_btn").css("display","none");
			//$(".header_preferences #show_btn").css("display","inline-block");
			$(".preferences").addClass("hide");
		})
		//btn show preference choice in tablet size
		$(".header_preferences #show_btn").click(function(){
			
			//$("#preference_content").css("display","block");
			//$(".header_preferences #hide_btn").css("display","inline-block");
			//$(".header_preferences #show_btn").css("display","none");
			$(".preferences").removeClass("hide");
		})

		$("#sign_up_button").click(function(){
	  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/account_signup_panel') %>");
	  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
	  	$('#signup_panel').show();
	  	$('#dialog_box').show();
	  	return false;
		});

		$("#login_button").click(function(){
	  	$('#dialog_box').html("<%= escape_javascript(render partial: 'schools/account_login_panel') %>");
	  	$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 4)});
	  	$('#login_panel').show();
	  	$('#dialog_box').show();
	  	return false;
		});

	  var choice_order_ascending = false;
	  $("#sortable_choice_order_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#0077cf")
	  	if (choice_order_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_row_number',{order:'desc'});
	  		$('#sortable_choice_order_column').html('<div aria-hidden="true" id="choice_order_arrow" class="icon-DBPS-Dev-Assets-arrow-down"></div>');
	  		choice_order_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_row_number',{order:'asc'});
	  		$('#sortable_choice_order_column').html('<div aria-hidden="true" id="choice_order_arrow" class="icon-DBPS-Dev-Assets-arrow-up"></div>');
	  		choice_order_ascending = true;
	  	}
	  });

	  var school_name_ascending = false;
	  $("#sortable_school_name_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#565656")
		  $('#sortable_school_name_column').css("color", "#0077cf")
	  	if (school_name_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_school_name',{order:'desc'});
	  		$('#sortable_school_name_column').html('<span aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-down"></span> <div class="column_title">School Name</div>');
	  		school_name_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_school_name',{order:'asc'});
	  		$('#sortable_school_name_column').html('<span aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></span> <div class="column_title">School Name</div>');
	  		school_name_ascending = true;
	  	}
	  });

	  var getting_there_ascending = false;
	  $("#sortable_distance_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#565656")
		  $('#sortable_distance_column').css("color", "#0077cf")
	  	if (getting_there_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_distance',{order:'desc'});
	  		$('#sortable_distance_column').html('<span aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-down"></span> <div class="column_title">Getting There</div>');
	  		getting_there_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_distance',{order:'asc'});
	  		$('#sortable_distance_column').html('<span aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></span> <div class="column_title">Getting There</div>');
	  		getting_there_ascending = true;
	  	}
	  });

	 	var surround_care_ascending = false;
	  $("#sortable_surround_care_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#565656")
		  $('#sortable_surround_care_column').css("color", "#0077cf")
	  	if (surround_care_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_surround_care',{order:'desc'});
	  		$('#sortable_surround_care_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Surround Care</div>');
	  		surround_care_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_surround_care',{order:'asc'});
	  		$('#sortable_surround_care_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Surround Care</div>');
	  		surround_care_ascending = true;
	  	}
	  });

	  var hours_ascending = false;
	  $("#sortable_hours_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#565656")
		  $('#sortable_hours_column').css("color", "#0077cf")
	  	if (hours_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_hours',{order:'desc'});
	  		$('#sortable_hours_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">School Hours</div>');
	  		hours_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_hours',{order:'asc'});
	  		$('#sortable_hours_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">School Hours</div>');
	  		hours_ascending = true;
	  	}
	  });

	  var fit_ascending = false;
	  $("#sortable_fit_column").click(function(){
	  	$('.column_arrow').hide();
	  	$('.sortable_column').css("color", "#565656")
	  	$('#sortable_choice_order_column').css("color", "#565656")
		  $('#sortable_fit_column').css("color", "#0077cf")
	  	if (fit_ascending) {
	  		$('ul#sortable>li').tsort('span.sortable_fit',{order:'desc'});
	  		$('#sortable_fit_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-down"></div> <div class="column_title">Your Fit</div>');
	  		fit_ascending = false;
	  	} else {
	  		$('ul#sortable>li').tsort('span.sortable_fit',{order:'asc'});
	  		$('#sortable_fit_column').html('<div aria-hidden="true" class="column_arrow icon-DBPS-Dev-Assets-arrow-up"></div> <div class="column_title">Your Fit</div>');
	  		fit_ascending = true;
	  	}
	  });

	});
</script>