%div{id: 'ell_schools_list', class: "schools_list #{params[:list_type] == 'ell' ? '' : 'hidden' }"}
  - if @ell_schools.present?
    %div.light{ style: "margin: 0 3em 1em 0;" }
      The schools below offer programs in #{current_student.ell_language}.
      These schools are drawn from a larger community cluster than the schools on your home-based list.
      When you register for school, your choice list may not include these options.
      The availability of ELL programs is based on the results of your Home Language Survey or Language Assessment.
      = link_to 'Click here', 'http://www.bostonpublicschools.org/ELL', target: '_blank'
      to learn more about Boston Public Schools' policies for English Language Learners.

  .list_content
    .flexible_content
      - if @ell_schools.present?
        .menu_list
          %div{id: 'ell_header', class: 'li_frame school_list_header'}
            #sortable_school_name_column.menu_bloc.sortable_column
              .column_title
                Name

            #sortable_ell_offering_column.menu_bloc.sortable_column
              .column_title
                ELL Offering

            #sortable_ell_cluster_column.menu_bloc.sortable_column
              .column_title
                Cluster

        %ul#sortable
          - @ell_schools.each_with_index do |student_school, i|
            - school = student_school.school
            %li{id: "#{current_student.id}_#{student_school.school.bps_id}", class: "list_row ell_school clearfix"}
              %div{id: "#{current_student.id}_#{school.bps_id}_row", class: "li_frame"}

                .school_name.select.line
                  %span.middle
                    %span.sortable_school_name
                      = school.name
                    - if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.try(:include?, school.bps_id)
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Dev-Assets-SRG-12"}

                    - if school.api_basic_info.try(:[], :SchoolType).present? && school.api_basic_info.try(:[], :SchoolType) == 'Exam'
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Preferences-Icons-20130930-SRG_exam_school"}

                .box.ell_descrip.line
                  .first_block.middle
                    = student_school.ell_description

                .box.ell_cluster.line
                  .first_block.middle
                    = student_school.ell_cluster

                .school_descrip
                  .right_side

                    = render partial: 'schools/learn/school_details', locals: {school: school, student_school: student_school}

                    .clr

                  .clr

      - else
        %div{style: 'margin: 3em 0 4em 0;'}
          %h2
            There are no matching ELL schools for the address and grade level that you entered.
