%div{id: 'home_schools_list', class: "schools_list #{(params[:list_type] == 'ell' || params[:list_type] == 'sped' || params[:list_type] == 'zone') ? 'hidden' : ''}"}
  .note.small
    - if zone_school_grades.include?(current_student.grade_level)
      The grade you selected
      (#{current_student.formatted_grade_level_name})
      is not guaranteed a home-based assignment. As such, if you are a new-to-Boston Public Schools applicant and an assignment from the home-based list below cannot be made, an assignment to a school in the former zone structure may be necessary. Use the Zone-based tab to see those results.
      %a{href: '#', target: '_blank'}
        Learn more
    - else
      Below is your Home Based list of schools.
      The information provided includes Eligibility (why a school is on your list), School Hours, Travel Time and a Fit Score.
      Use the preferences in the left column to indicate factors that are important to you in your search, and then see them revealed in the Fit Score section.
      Use the 'i' icon to learn more about schools of interest and then star your favorites, before moving to the next step.

  .list_content
    .flexible_content
      - if @home_schools.present?
        .menu_list
          %div{id: 'home_header', class: 'li_frame school_list_header', style: 'display: block;'}
            #sortable_star_column.sortable_column.menu_bloc.desktop.no_mobile
              .column_title
                Star

            #sortable_school_name_column.menu_bloc.sortable_column
              .column_title
                Name

            #sortable_fit_column.menu_bloc.sortable_column
              .column_title
                Fit Score

            #sortable_eligibility_column.menu_bloc.sortable_column
              .column_title
                Eligibility

            #getting_there.menu_bloc
              %div{id: 'sortable_distance_column', class: 'first_block sortable_column', style: 'color: #0077cf;'}
                %div{:aria => {hidden: 'true'}, :class => 'column_arrow icon-DBPS-Dev-Assets-arrow-up'}
                .column_title
                  Travel

            #sortable_hours_column.menu_bloc.sortable_column
              .column_title
                Hours

        %ul#sortable
          - @home_schools.each_with_index do |student_school, i|
            - school = student_school.school
            %li{id: "#{current_student.id}_#{school.bps_id}", class: "list_row home_school clearfix"}
              %div{id: "#{current_student.id}_#{school.bps_id}_row", class: "li_frame"}

                .desktop.no_order.line
                  .middle
                    = image_tag('star_starred.png', id: "star_#{student_school.id}_starred", class: 'star_starred', style: "display: #{student_school.starred? ? 'inline' : 'none'}; cursor: pointer;", data: {student_school_id: student_school.id})
                    = image_tag('star_unstarred.png', id: "star_#{student_school.id}_unstarred", class: 'star_unstarred', style: "display: #{student_school.starred? ? 'none' : 'inline'}; cursor: pointer;", data: {student_school_id: student_school.id} )
                  %span{class: "sortable_star", style: "visibility: hidden; display: none;"}
                    = student_school.starred? ? 1 : 3

                .school_name.select.line
                  %span.middle
                    %span.sortable_school_name
                      = school.name
                    - if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.try(:include?, school.bps_id)
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Dev-Assets-SRG-12"}

                    - if school.api_basic_info.try(:[], :SchoolType).present? && school.api_basic_info.try(:[], :SchoolType) == 'Exam'
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Preferences-Icons-20130930-SRG_exam_school"}
                    %span.icon.icon-info.light_blue

                .box.line.your_fit_icon
                  %span{id: "#{current_student.id}_#{school.bps_id}_icons", class: "middle"}
                    - tag_counter = 0
                    - PreferenceCategory.active(current_student.grade_level).each do |category|
                      - category.active_preferences(current_student.grade_level).each do |preference|
                        - if school.has_preference?(preference)
                          - if current_student.preference_ids.try(:include?, preference.id)
                            %span{:aria => {hidden: 'true'}, id: "school_#{school.id}", data: {tags: "['#{preference.name}']"}, :class => "icon category_icon preference_#{preference.id}_icon #{category.glyph_class}", title: "#{preference.name}"}
                            - tag_counter += 1
                          - else
                            %span{:aria => {hidden: 'true'}, id: "school_#{school.id}", data: {tags: "['#{preference.name}']"}, :class => "icon category_icon preference_#{preference.id}_icon #{category.glyph_class}", style: "display: none;", title: "#{preference.name}"}

                    %span{id: "#{current_student.id}_#{school.bps_id}_icon_count", class: "sortable_fit fit_icon_count", style: "visibility: hidden;"}
                      = tag_counter


                .box.line.eligibility
                  .first_block.middle
                    %span.middle.sortable_eligibility
                      =raw eligibility_helper(spacer_helper(student_school.eligibility))


                .box.line.getting_there
                  .first_block.middle
                    %span.middle.sortable_distance
                      =raw transportation_eligibility_icon_helper(student_school)
                      = spacer_helper(student_school.distance)
                      mi

                  .second_bloc.middle
                    %span{:aria => {hidden: 'true'}, :class => "icon_petit icon-DBPS-Dev-Assets-SRG-14"}
                      = spacer_helper(student_school.walk_time)
                      %span{:aria => {hidden: 'true'}, :class => "icon-DBPS-Dev-Assets-SRG-18"}

                  .second_bloc.middle.last
                    %span{:aria => {hidden: 'true'}, :class => "icon_petit icon-DBPS-Dev-Assets-SRG-17"}
                      = spacer_helper(student_school.drive_time)
                      %span{:aria => {hidden: 'true'}, :class => "icon-DBPS-Dev-Assets-SRG-18"}



                .box.line.school_hours
                  %span.middle.sortable_hours
                    = truncate(school.api_hours.try(:[], :Description), length: 18)
                    %br/
                    .max_range
                      %div{class: 'ajust_range', style: "margin-left: #{school_hours_start_time_helper(school.api_hours.try(:[], :Description))}%; margin-right: #{school_hours_end_time_helper(school.api_hours.try(:[], :Description))}%;"}

                .school_descrip
                  .right_side

                    = render partial: 'schools/learn/school_details', locals: {school: school, student_school: student_school}

                    .clr

                  .clr

        = render partial: 'schools/page_elements/notice'

      - else

        %h2
          There are no matching schools for the program and grade combination that you entered.
