.mobile
	.school_features_column
		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
					School Type
			%p.descrip
				= school.api_basic_info.try(:[], :SchoolType)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"}
					Grades Offered
			%p.descrip
				= grade_levels_helper(school.grade_levels)

		.box
			- if TRANSITION_GRADES.include?(current_student.grade_level)
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
					= "#{current_student.formatted_grade_level_name} Demand (#{last_school_year_range})"
				%p.descrip
					= school.open_seats(current_student.grade_level)
					open seats
					%br/
					= school.applicants(current_student.grade_level)
					applicants
					%br/
					= school.applicants_per_open_seat(current_student.grade_level, '2013')
					applicants/open seat
				.max_range
					%div{class: 'ajust_range', style: "margin-left: 0; margin-right: 50%;"}

			%p.title
				= "#{current_student.formatted_grade_level_name} Enrollment (#{last_school_year_range})"
			%p.descrip
				= school.total_seats(current_student.grade_level)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"}
					Eligibility
			%p.descrip
				= student_school.eligibility

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"}
					Special Application
			%p.descrip
				= special_application_helper(school.api_description.try(:[], :isspecialappprocedures))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"}
					Advanced Work Class (AWC)
			%p.descrip
				= awc_helper(school.api_basic_info.try(:[], :IsAWC))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"}
					MCAS Tier
			%p.descrip
				= school_tier_helper(student_school.tier)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"}
					Uniform Policy
			- if school.api_description.try(:[], :uniformpolicydesc).present?
				%p.descrip
					= school.api_description.try(:[], :uniformpolicydesc)
			- else
				%p.descrip
					= school.api_description.try(:[], :uniformpolicy)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"}
					Student Support

			- if school.api_student_support.try(:[], :HasFullTimeNurse) == 'True'
				%p.descrip
					Full-Time Nurse
			- if school.api_student_support.try(:[], :HasPartTimeNurse) == 'True'
				%p.descrip
					Part-Time Nurse
			- if school.api_student_support.try(:[], :HasOnlineHealthCntr) == 'True'
				%p.descrip
					Online Health Center
			- if school.api_student_support.try(:[], :HasFamilyCoord) == 'True'
				%p.descrip
					Family Coordinator
			- if school.api_student_support.try(:[], :HasGuidanceCoord) == 'True'
				%p.descrip
					Guidance Counselor
			- if school.api_student_support.try(:[], :HasSocialWorker) == 'True'
				%p.descrip
					Social Worker

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"}
					School Focus
			%p.descrip
				= school.api_description.try(:[], :schfocus)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"}
					Facility Features
			%p.descrip
				= facilities_list_helper(school.api_facilities)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"}
					Community Partners
			%p.descrip
				= partners_list_helper(school.api_partners)

		- if UPPER_GRADES.include?(current_student.grade_level)
			.box
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"}
						Sports

				%p.descrip
					= sports_list_helper(school.api_sports)

		.clr
