.column.column_left
	- if school.api_photos.present? && school.api_photos.try(:[], 0).present?
		.school_photos.photos
			.principal
				.glass
					%span{:aria => {hidden: 'true'}, :class => "icon-DBPS-Dev-Assets-SRG-29"}
				= image_tag(school.api_photos.try(:[], 0).try(:[], :url), id: "#{school.bps_id}_photo_1")

				:javascript
					$("##{school.bps_id}_photo_1").click(function(){
						$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/photo', locals: {school: school, photo_index: 0})}");
						$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
						$('#dialog_box').show();
						return false;
					});

			- if school.api_photos.try(:[], 1).present?
				%div{id: "#{school.bps_id}_photo_2", class: "second small"}
					= image_tag(school.api_photos[1].try(:[], :url))

				:javascript
					$("##{school.bps_id}_photo_2").click(function(){
						$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/photo', locals: {school: school, photo_index: 1})}");
						$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
						$('#dialog_box').show();
						return false;
					});

			- if school.api_photos.try(:[], 2).present?
				%div{id: "#{school.bps_id}_photo_3", class: "third small"}
					= image_tag(school.api_photos[2].try(:[], :url))

				:javascript
					$("##{school.bps_id}_photo_3").click(function(){
						$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/photo', locals: {school: school, photo_index: 2})}");
						$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
						$('#dialog_box').show();
						return false;
					});

			- if school.api_photos.try(:[], 3).present?
				%div{id: "#{school.bps_id}_photo_4", class: "fourth small last"}
					= image_tag(school.api_photos[3].try(:[], :url))

				:javascript
					$("##{school.bps_id}_photo_4").click(function(){
						$('#dialog_box').html("#{escape_javascript(render partial: 'schools/dialog_boxes/photo', locals: {school: school, photo_index: 3})}");
						$('#dialog_box').css({"top": $(window).scrollTop() + ($(window).height() / 10)});
						$('#dialog_box').show();
						return false;
					});

			.clr

	.school_details
		-# School Address
		%p
			= school.full_address
			%br/
			- if school.api_basic_info.try(:[], :SchLink).present?
				= link_to 'School Website', 'http://bostonpublicschools.org/Page/628', class: "text_B0", title: "School Website", target: "_blank"
				%br/

			= mail_to school.api_basic_info.try(:[], :schemail), school.api_basic_info.try(:[], :schemail), class: "text_B0", title: "Email Address"

		-# Travel Time
		%p.title
			%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_distance"}
			= raw student_school.distance
			mi from home
		%p.descrip.light
			%span{:aria => {hidden: 'true'}, :class => "icon icon_petit icon-DBPS-Dev-Assets-SRG-14"}
			= raw student_school.walk_time
			%br/
			%span{:aria => {hidden: 'true'}, :class => "icon icon_petit icon-DBPS-Dev-Assets-SRG-17"}
			= raw student_school.drive_time

		-# School Hours
		%p.title
			%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"}
			School hours
		%p.descrip.light
			= school.api_hours.try(:[], :Description)

		- if preview_dates_list_helper(school.api_preview_dates).present?
			-# Preview Dates
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolhours"}
				Preview Dates
			%p.descrip.light
				- preview_dates_list_helper(school.api_preview_dates).each do |date|
					•
					= date
					%br/


		-# Surround Care
		- if SURROUND_CARE_GRADES.include?(current_student.grade_level)
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_surroundcare"}
				Surround care

			%p.descrip.light
				- if school.before_care?(current_student.grade_level)
					%span.text_G1
						Before:
					= school.api_surround_care.try(:[], :BeforeSchPrograms)
					%br/
					%br/

				- if school.after_care?(current_student.grade_level)
					%span.text_G1
						After:
					= school.api_surround_care.try(:[], :AfterSchPrograms)

		%hr/

		-# Print Details
		%p.title.big.desktop_tablet
			= link_to print_school_path(school.slug), title: 'Print Details', class: 'text_B0' do
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Dev-Assets-SRG-28"}
				Print Details



.column.column_right
	.school_info

		- if school.api_description.try(:[], :schoolspecial).present?
			.school_description.light
				= school.api_description.try(:[], :schoolspecial)

		-# .box
		-# 	%p.title
		-# 		%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
		-# 		School Type
		-# 	%p.descrip
		-# 		= school.api_basic_info.try(:[], :SchoolType)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"}
				Grades Offered
			%p.descrip.light
				= grade_levels_helper(school.grade_levels)

		.box
			- if TRANSITION_GRADES.include?(current_student.grade_level)
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
					= "#{current_student.formatted_grade_level_name} Demand (#{last_school_year_range})"
				%p.descrip.light
					= school.open_seats(current_student.grade_level)
					open seats
					%br/
					= school.applicants(current_student.grade_level)
					applicants
					%br/
					= school.applicants_per_open_seat(current_student.grade_level, last_school_year)
					applicants/open seat
				.max_range
					%div{class: 'ajust_range', style: "margin-left: 0; margin-right: 50%;"}

			%p.title
				- unless TRANSITION_GRADES.include?(current_student.grade_level)
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
				School Size
			%p.descrip.light
				= school.api_basic_info.try(:[], :SchSize)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"}
				Eligibility
			%p.descrip.light
				= student_school.eligibility

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"}
				Special Application
			%p.descrip.light
				= special_application_helper(school.api_description.try(:[], :isspecialappprocedures))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"}
				Advanced Work Class (AWC)
			%p.descrip.light
				= awc_helper(school.api_basic_info.try(:[], :IsAWC))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"}
				MCAS Tier
			%p.descrip.light
				= school_tier_helper(student_school.tier)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"}
				Uniform Policy
			- if school.api_description.try(:[], :uniformpolicydesc).present?
				%p.descrip.light
					= school.api_description.try(:[], :uniformpolicydesc)
			- else
				%p.descrip.light
					= school.api_description.try(:[], :uniformpolicy)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"}
				School Focus
			%p.descrip.light
				= school.api_description.try(:[], :schfocus)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
				Programs
			%p.descrip.light
				= programs_list_helper(school.api_programs).try(:join, ', ')

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"}
				Facility Features
			%p.descrip.light
				= facilities_list_helper(school.api_facilities).try(:join, ', ')

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"}
				Student Support
			%p.descrip.light
				=raw student_support_list_helper(school.api_student_support).try(:join, ', ')

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"}
				Sports
			%p.descrip.light
				= sports_list_helper(school.api_sports).try(:join, ', ')

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"}
				Community Partners
			%p.descrip.light
				= partners_list_helper(school.api_partners).try(:join, ', ')
