%div{id: 'sped_schools_list', class: "schools_list #{params[:list_type] == 'sped' ? '' : 'hidden'}"}
  .note.small
    The schools below have program offerings for special education needs.
    These schools are drawn from a larger community cluster than the schools on your home-based list.
    When you register for school, your choice list will include only home-based options.
    After you register, your child’s IEP will be reviewed by special education staff members who will determine if any of the schools on this list may be presented to you as an option.
    = link_to 'Click here', 'http://www.bostonpublicschools.org/Domain/195', target: '_blank'
    to learn more about Boston Public Schools' special education programs.

  .list_content
    .flexible_content
      - if @sped_schools.present?
        .menu_list
          %div{id: 'sped_header', class: 'li_frame school_list_header'}
            #sortable_school_name_column.menu_bloc.sortable_column
              .column_title
                Name

            #sortable_sped_offering_column.menu_bloc.sortable_column
              .column_title
                SPED Offering

            #sortable_sped_cluster_column.menu_bloc.sortable_column
              .column_title
                Cluster


        %ul#sortable
          - @sped_schools.each_with_index do |student_school, i|
            - school = student_school.school
            %li{id: "#{current_student.id}_#{student_school.school.bps_id}", class: "list_row sped_school clearfix"}
              %div{id: "#{current_student.id}_#{school.bps_id}_row", class: "li_frame"}

                .school_name.select.line
                  %span.middle
                    %span.sortable_school_name
                      = school.name
                    - if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.try(:include?, school.bps_id)
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Dev-Assets-SRG-12"}

                    - if school.api_basic_info.try(:[], :SchoolType).present? && school.api_basic_info.try(:[], :SchoolType) == 'Exam'
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Preferences-Icons-20130930-SRG_exam_school"}
                    %span.icon.icon-info.light_blue

                .box.sped_descrip.line
                  .first_block.middle
                    = student_school.sped_description

                .box.sped_cluster.line
                  .first_block.middle
                    = student_school.sped_cluster


                .school_descrip
                  .right_side

                    = render partial: 'schools/learn/school_details', locals: {school: school, student_school: student_school}

                    .clr

                  .clr


      - else
        %div{style: 'margin: 40px 0 60px 0;'}
          %h2
            There are no matching SPED schools for the address and grade level that you entered.
