#sped_schools_list.schools_list.hidden
  .note.small
    This list includes your home-based choices, as well as those schools in a larger community cluster that offer SPED programs. When you register for school, your choice list will include only home-based options. Your child’s IEP, which will be reviewed after registration by special education staff members, will determine if any of these schools may be presented to you as an option. For more information, call 617-635-8599.

  .list_content
    .flexible_content
      - if @sped_schools.present?
        .menu_list
          %div{id: 'sped_header', class: 'li_frame school_list_header'}
            #sortable_school_name_column.menu_bloc.sortable_column
              .column_title
                Name

            #sortable_fit_column.menu_bloc.sortable_column
              .column_title
                SPED Offering

            #sortable_eligibility_column.menu_bloc.sortable_column
              .column_title
                Cluster


        %ul#sortable
          - @sped_schools.each_with_index do |student_school, i|
            - school = student_school.school
            %li{id: "#{current_student.id}_#{student_school.school.bps_id}", class: "list_row sped_school clearfix"}
              %div{id: "#{current_student.id}_#{school.bps_id}_row", class: "li_frame"}

                .school_name.select.line
                  %span.middle
                    %span.sortable_school_name
                      = school.name
                    - if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.try(:include?, school.bps_id)
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Dev-Assets-SRG-12"}

                    - if school.api_basic_info.try(:[], :SchoolType).present? && school.api_basic_info.try(:[], :SchoolType) == 'Exam'
                      %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Preferences-Icons-20130930-SRG_exam_school"}
                    %span.icon.icon-info.light_blue

                .box.sped_descrip.line
                  .first_block.middle
                    = student_school.sped_description

                .box.sped_cluster.line
                  .first_block.middle
                    = student_school.ell_cluster

                .school_descrip
                  .right_side

                    = render partial: 'schools/learn/desktop', locals: {school: school, student_school: student_school}

                    = render partial: 'schools/learn/mobile', locals: {school: school, student_school: student_school}

                    = render partial: 'schools/learn/tablet', locals: {school: school, student_school: student_school}

                    .clr

                  .clr


      - else
        %div{style: 'margin: 40px 0 60px 0;'}
          %h2
            There are no matching schools for the program and grade combination that you entered.
