%div{id: 'sped_schools_list', class: "schools_list #{params[:list_type] == 'sped' ? '' : 'hidden'}"}
  -# - if @sped_schools.present?
  %div.light{ style: "margin: 0 3em 1em 0;" }
    For students with disabilities, placement in a school is determined by their Individualized Education Plan (IEP)
    and the availability of appropriate seats. While families are able to indicate school choices
    through the regular assignment process, placement decisions are made by Boston Public Schools’ IEP team.
    Students with low levels of need (i.e. Pull-Out or Push-In Resources) can have these needs met in any district school
    on their Home-Based List. However, students with higher levels of needs may qualify for seats in a specific program.
    After you register, your child’s IEP will be reviewed by special education staff members who will determine which schools and programs are the most appropriate options for your child.
    %br/
    %br/
    %span.dark_blue
      %a{:href => "https://www.bostonpublicschools.org/Page/6128"} Click here
    to learn more about Boston Public Schools' special education programs.  You can also contact the Office of Specialized Services at
    %br
    617-635-8599 or
    specialeducation@bostonpublicschools.org.

  -# Request to hide the content - 12/20/2023
  -# .list_content
  -#   .flexible_content
  -#     - if @sped_schools.present?
  -#       .menu_list
  -#         %div{id: 'sped_header', class: 'li_frame school_list_header'}
  -#           #sortable_school_name_column.menu_bloc.sortable_column
  -#             .column_title
  -#               Name
  -#
  -#           #sortable_sped_offering_column.menu_bloc.sortable_column
  -#             .column_title
  -#               Special Education Offering
  -#
  -#           #sortable_sped_cluster_column.menu_bloc.sortable_column
  -#             .column_title
  -#               Cluster
  -#
  -#
  -#       %ul#sortable
  -#         - @sped_schools.each_with_index do |student_school, i|
  -#           - school = student_school.school
  -#           %li{id: "#{current_student.id}_#{student_school.school.bps_id}", class: "list_row sped_school clearfix"}
  -#             %div{id: "#{current_student.id}_#{school.bps_id}_row", class: "li_frame"}
  -#
  -#               .school_name.select.line
  -#                 %span.middle
  -#                   %span.sortable_school_name
  -#                     = school.name
  -#                   - if current_student.sibling_school_ids.present? && current_student.sibling_school_ids.try(:include?, school.bps_id)
  -#                     %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Dev-Assets-SRG-12"}
  -#
  -#                   - if school.api_basic_info.try(:[], :SchoolType).present? && school.api_basic_info.try(:[], :SchoolType) == 'Exam'
  -#                     %span{:aria => {hidden: 'true'}, :class => "select_icon icon-DBPS-Preferences-Icons-20130930-SRG_exam_school"}
  -#
  -#               .box.sped_descrip.line
  -#                 .first_block.middle
  -#                   = student_school.sped_description
  -#
  -#               .box.sped_cluster.line
  -#                 .first_block.middle
  -#                   = student_school.sped_cluster
  -#
  -#
  -#               .school_descrip
  -#                 .right_side
  -#
  -#                   = render partial: 'schools/learn/school_details', locals: {school: school, student_school: student_school}
  -#
  -#                   .clr
  -#
  -#                 .clr
  -#
  -#
  -#     - else
  -#       %div{style: 'margin: 3em 0 4em 0;'}
  -#         %h2
  -#           There are no matching SPED schools for the address and grade level that you entered.
