.tablet
	.school_features_column
		-# .box
		-# 	%p.title
		-# 		%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schooltype"}
		-# 			School Type
		-# 	%p.descrip
		-# 		= school.api_basic_info.try(:[], :SchoolType)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_gradesoffered"}
					Grades Offered
			%p.descrip.light
				= grade_levels_helper(school.grade_levels)

		.box
			- if TRANSITION_GRADES.include?(current_student.grade_level)
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
					= "#{current_student.formatted_grade_level_name} Demand (#{last_school_year_range})"
				%p.descrip.light
					= school.open_seats(current_student.grade_level)
					open seats
					%br/
					= school.applicants(current_student.grade_level)
					applicants
					%br/
					= school.applicants_per_open_seat(current_student.grade_level, last_school_year)
					applicants/open seat
				.max_range
					%div{class: 'ajust_range', style: "margin-left: 0; margin-right: 50%;"}

			%p.title
				- unless TRANSITION_GRADES.include?(current_student.grade_level)
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_enrollment"}
				School Size
			%p.descrip.light
				= school.api_basic_info.try(:[], :SchSize)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_eligibility"}
					Eligibility
			%p.descrip.light
				= student_school.eligibility

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_specialapplication"}
					Special Application
			%p.descrip.light
				= special_application_helper(school.api_description.try(:[], :isspecialappprocedures))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolawards"}
					Advanced Work Class (AWC)
			%p.descrip.light
				= awc_helper(school.api_basic_info.try(:[], :IsAWC))

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_mcastier"}
					MCAS Tier
			%p.descrip.light
				= school_tier_helper(student_school.tier)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_uniformpolicy"}
					Uniform Policy
			- if school.api_description.try(:[], :uniformpolicydesc).present?
				%p.descrip.light
					= school.api_description.try(:[], :uniformpolicydesc)
			- else
				%p.descrip.light
					= school.api_description.try(:[], :uniformpolicy)

		- if school.student_support_present?
			.box
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "icon fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_healthandwellness"}
					Student Support

				%p.descrip.light
					=raw student_support_list_helper(school.api_student_support)
		.clr

	.school_features_column
		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_schoolfocus"}
					School Focus
			%p.descrip.light
				= school.api_description.try(:[], :schfocus)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_facilityfeatures"}
					Facility Features
			%p.descrip.light
				= facilities_list_helper(school.api_facilities)

		.box
			%p.title
				%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_communitypartners"}
					Community Partners
			%p.descrip.light
				= partners_list_helper(school.api_partners)

		- if UPPER_GRADES.include?(current_student.grade_level)
			.box
				%p.title
					%span{:aria => {hidden: 'true'}, :class => "fit_icon icon-DBPS-Preferences-Icons-20130930-SRG_sports"}
						Sports
				%p.descrip.light
					= sports_list_helper(school.api_sports)

		.clr
