.search
  .logo.discover
    %span{:aria => {hidden: 'true'}, :class => 'icon-DBPS-Dev-Assets-SRG-01'}
  .search_header
    .title_bloc
      %h1
        Welcome to Boston Public Schools Registration

  .search_section_content
    %section.search_section.first

      -# CONTENT ---------------------
      .content_left
        .text
          %p.home_intro.yellow-buttons.light_blue.big
            = auto_link(TextSnippet.find('home-intro').text)


        .content
          %h2
            Does your child have an Individual Education Plan (IEP) for special education needs (SPED)?

          = form_tag student_sped_preferences_path, method: :put do

            %div{style: 'padding: 20px 0 0 15px;'}
              %p
                = radio_button_tag '[student]sped_needs', true, current_student.sped_needs == true
                Yes
              %p
                = radio_button_tag '[student]sped_needs', false, current_student.sped_needs == false
                No

            .btn
              = submit_tag 'Next', disable_with: 'Working...', id: 'sped_next_button', class: 'orange_submit'


          .footnote.light
            %p{style: "color: #ffffff; padding: 50px 0;"}
              For students with disabilities, placement in a school is determined by their Individualized Education Plan (IEP) and the availability of appropriate seats.
              While families are able to indicate school choices through the regular assignment process, placement decisions are made by Boston Public Schools’ IEP team.
              Students with low levels of need (i.e. Pull-Out or Push-In Resources) can have these needs met in any district school on their Home-Based List.
              However, students with higher levels of needs may qualify for program seats from across a broader cluster of schools.
              The SPED tab on your results page will show you which schools may be available to your child.
              Please note that while the school list reflects all programs offered, placement is highly individualized and will depend on a student’s specific needs, as determined by the ￼￼￼IEP.
              For questions about SWD placements, please call: 617-635-8599


      -# TIMELINE ---------------------
      .content_right

        .timeline
          .event.first
            %span.light_blue REGISTRATION TIMELINE
            = image_tag('point_white_onBlue.png', class: 'start_point point')

          .event.Y
            %span.desktop
              Discover schools

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Compare options

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue 
                = registration_date_helper(RegistrationDate.where(name: "School Previews and School Showcases Start").first, "start_date_short")
              %br/
              %span.W
                School Previews and
                %br/
                School Showcases start

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Create your list

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue 
              = registration_date_helper(RegistrationDate.where(name: "Pre-Register").first, "start_date_short")
              %br/
              %span.W
                Pre-register

            -#%span.tablette
              = image_tag('blue_point_white.png', class: 'point')


    -# CONTENT ---------------------
    %section.search_section.second
      = render partial: 'students/footer_links'


      -# TIMELINE ---------------------
      .content_right
        = render partial: 'students/timeline'

