.search
  .logo.discover
    %span{:aria => {hidden: 'true'}, :class => 'icon-DBPS-Dev-Assets-SRG-01'}
  .search_header
    .title_bloc
      %h1
        Welcome to Boston Public Schools Registration

  .search_section_content
    %section.search_section.first

      -# CONTENT ---------------------
      .content_left
        .text
          %p.home_intro.yellow-buttons.light_blue.big
            = auto_link(TextSnippet.find('home-intro').text)


        .content
          %h2
            Does your child have specialized language needs?

          = form_tag student_ell_preferences_path, method: :post do

            %div{style: 'padding: 20px 0 0 15px;'}
              %p
                = radio_button_tag '[student]ell_language', 'Cape Verdean', current_student.ell_language
                Cape Verdean
              %p
                = radio_button_tag '[student]ell_language', 'Chinese', current_student.ell_language
                Chinese
              %p
                = radio_button_tag '[student]ell_language', 'Haitian Creole', current_student.ell_language
                Haitian Creole
              %p
                = radio_button_tag '[student]ell_language', 'Spanish', current_student.ell_language
                Spanish
              %p
                = radio_button_tag '[student]ell_language', 'Vietnamese', current_student.ell_language
                Vietnamese
              %p
                = radio_button_tag '[student]ell_language', 'Other', current_student.ell_language
                Other (including multi-lingual)
              %p
                = radio_button_tag '[student]ell_language', '', current_student.ell_language.present? ? false : true
                Not Applicable

            .btn
              = submit_tag 'Next', disable_with: 'Working...', id: 'ell_next_button', class: 'orange_submit'

          .footnote.light
            %p{style: "color: #ffffff; padding: 50px 0;"}
              As part of the registration process, every applicant is asked to complete a Home Language Survey.
              The results of this Survey determine whether a child needs additional language assessment at our Newcomers Assessment and Counseling ￼￼Center.
              If this is the case, a child's school choices may expand beyond his/her Home Based options to include program ￼￼seats in a wider community cluster of schools.
              For more information on clusters, the Language Assessment, or the Newcomer's Assessment and Counseling Center, please call a Welcome Center near you or contact the Newcomers Center directly at: 617-635-1565

      -# TIMELINE ---------------------
      .content_right

        .timeline
          .event.first
            %span.light_blue REGISTRATION TIMELINE
            = image_tag('point_white_onBlue.png', class: 'start_point point')

          .event.Y
            %span.desktop
              Discover schools

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Compare options

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue 
              = registration_date_helper(RegistrationDate.where(name: "School Previews and School Showcases Start").first, "start_date_short")
              %br/
              %span.W
                School Previews and
                %br/
                School Showcases start

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event.Y
            %span.desktop
              Create your list

            -#%span.tablette
              = image_tag('yellow_point.png', class: 'point')

          .event
            %span.desktop
              %span.light_blue 
              = registration_date_helper(RegistrationDate.where(name: "Pre-Register").first, "start_date_short")
              %br/
              %span.W
                Pre-register

            -#%span.tablette
              = image_tag('blue_point_white.png', class: 'point')


    -# CONTENT ---------------------
    %section.search_section.second
      = render partial: 'students/footer_links'


      -# TIMELINE ---------------------
      .content_right
        = render partial: 'students/timeline'
