<% for notification in Notification.order('start_time DESC').active(session[:removed_notifications]) %>
	<% if notification.home_page? && params[:action] == 'home' %>
		<div id="notification_<%= notification.id %>" class="notification" style="display: none;">
			<div class="wrap">
				<div class="content_wrap">
					<span style="color: #ffff00;">Announcement:</span>
					<%= notification.message %>
				</div>
			</div>
		</div>
	<% elsif notification.schools_page? && params[:controller] == 'schools' && (params[:action] == 'index' || params[:action] == 'zone_schools' || params[:action] == 'compare') %>
		<div id="notification_<%= notification.id %>" class="notification" style="display: none;">
			<div class="wrap">
				<span style="color: #ffff00;">Announcement:</span>
				<%= notification.message %>
			</div>
		</div>
	<% end %>
	<script>
		$(document).ready(function(){
			$('.notification').slideDown("slow");
		});
		$("#notification_close_icon_<%= notification.id %>").click(function() {
			$("#notification_<%= notification.id %>").slideUp("fast");
	    $.ajax({
	      url: '/students/remove_notification',
	      type: 'post',
	      data: {
	      	notification_id: '<%= notification.id %>', 
	      	user_id: '<%= current_user.try(:id) %>'
	      },
	      dataType: 'script'
	    });
		});
	</script>
<% end %>